openapi: 3.0.0
info:
  version: 3.0.0
  title: Moneris API
  description: Moneris API Platform
  termsOfService: https://www.moneris.com/en/legal/terms-of-use
  contact:
    url: https://api-developer.moneris.com
    email: UnifiedAPI@moneris.com
  license:
    name: Moneris
    url: https://developer.moneris.com/Agreements/Terms%20of%20Use
  x-audience: external-public
servers:
  - url: https://api.moneris.io
    description: Production server (uses live data)
  - url: https://api.sb.moneris.io
    description: Sandbox server (uses test data)
tags:
  - name: Payments
    description: Perform and Manage payments
  - name: Payment Methods
    description: Create and Manage payment methods
  - name: Refunds
    description: Perform and Manage payment refunds
  - name: Validations
    description: Perform and Manage card validations
  - name: Customers
    description: Perform and Manage customers
  - name: 3D Secure
    description: Perform and 3D Secure authentications against payment methods
  - name: Kount
    description: Perform and Manage Kount risk assessment inquiries
paths:
  /payments:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Payments
      description: Returns a paginated list of payments.
      operationId: getPayments
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of all payments
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponseList'
              example:
                data:
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 16000
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodInformation:
                        paymentMethodType: CARD
                        paymentMethodSource: CARD
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2028
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                        storePaymentMethod: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: SUCCEEDED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: '00'
                      responseCode: '000'
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    verificationDetails:
                      addressVerificationServiceResultCode: FULL_MATCH
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    credentialOnFileResponse: null
                    refundDetails: null
                    customData:
                      property1: string
                      property2: string
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAZ
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 16000
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodInformation:
                        paymentMethodType: CARD
                        paymentMethodSource: CARD
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2028
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                        storePaymentMethod: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: CANCELED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: '00'
                      responseCode: '000'
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    verificationDetails:
                      addressVerificationServiceResultCode: FULL_MATCH
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    credentialOnFileResponse: null
                    refundDetails: null
                    customData:
                      property1: string
                      property2: string
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAX
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 0
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodInformation:
                        paymentMethodType: CARD
                        paymentMethodSource: CARD
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2028
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                        storePaymentMethod: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: DECLINED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: '43'
                      responseCode: '421'
                      message: Stolen card, pick up.
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    verificationDetails:
                      addressVerificationServiceResultCode: FULL_MATCH
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    credentialOnFileResponse: null
                    refundDetails: null
                    customData:
                      property1: string
                      property2: string
                self: /payments?cursor=d41d8cd98f00b&limit=50
                first: /payments?cursor=d41d8cd98f00b&limit=50
                last: /payments?cursor=d41d8cd98f00b&limit=50
                next: null
                previous: null
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Payment
      description: This operation is used to initiate a Payment.
      operationId: createPayments
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentRequest'
            examples:
              regularPurchaseWithPaymentMethodId:
                $ref: '#/components/examples/regularPurchaseWithPaymentMethodId'
              regularPurchaseWithCardPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithCardPaymentMethod'
              regularPurchaseWithTemporaryPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithTemporaryPaymentMethod'
              regularPurchaseWithPermanentPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithPermanentPaymentMethod'
              regularPurchaseWithApplePayEncryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithApplePayEncryptedPaymentMethod'
              regularPurchaseWithApplePayDecryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithApplePayDecryptedPaymentMethod'
              regularPurchaseWithGooglePayEncryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithGooglePayEncryptedPaymentMethod'
              regularPurchaseWithGooglePayDecryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithGooglePayDecryptedPaymentMethod'
              preAuthorizationWithPaymentMethodId:
                $ref: '#/components/examples/preAuthorizationWithPaymentMethodId'
              preAuthorizationWithCardPaymentMethod:
                $ref: '#/components/examples/preAuthorizationWithCardPaymentMethod'
              preAuthorizationWithTemporaryToken:
                $ref: '#/components/examples/preAuthorizationWithTemporaryToken'
              preAuthorizationWithPermanentToken:
                $ref: '#/components/examples/preAuthorizationWithPermanentToken'
      responses:
        '201':
          description: Payment operation created successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              examples:
                PurchaseCompleted:
                  $ref: '#/components/examples/PurchaseCompletedResponse'
                PreauthorizationCompletedResponse:
                  $ref: '#/components/examples/PreauthorizationCompletedResponse'
        '400':
          description: Failed Payment operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                invalid_request:
                  $ref: '#/components/examples/InvalidRequestErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          description: Failed Payment operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Payment
      description: Retrieve a payment by its payment Id
      operationId: getPayment
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      responses:
        '200':
          description: The payment corresponding to the provided `payment-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/PurchaseCompletedResponse'
                authorized:
                  $ref: '#/components/examples/PreauthorizationCompletedResponse'
                declined:
                  $ref: '#/components/examples/PurchaseDeclinedResponse'
                declined_retry:
                  $ref: '#/components/examples/PurchaseDeclinedRetryResponse'
                canceled:
                  $ref: '#/components/examples/PurchaseCanceledResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}/cancel:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Cancel Payment
      description: Cancel a payment. This operation may not be possible if the payment has gone through.
      operationId: cancelPayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelPaymentRequest'
      responses:
        '200':
          description: Payment canceled successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              example:
                paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                orderId: 1q2w3e4r5t6t78
                invoiceNumber: 1a2s3d45v6
                transactionDateTime: '2019-07-30T06:43:40.252Z'
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                amount:
                  amount: 16000
                  currency: CAD
                authorizedAmount:
                  amount: 16000
                  currency: CAD
                capturableAmount:
                  amount: 0
                  currency: CAD
                amountDetails: null
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                paymentMethod:
                  paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation: null
                  contactDetails: null
                  billingAddress: null
                  paymentMethodInformation:
                    paymentMethodType: CARD
                    paymentMethodSource: CARD
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2028
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                    storePaymentMethod: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: null
                  customData:
                    property1: string
                    property2: string
                paymentStatus: CANCELED
                transactionDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: '00'
                  responseCode: '000'
                  message: approved
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                verificationDetails:
                  addressVerificationServiceResultCode: FULL_MATCH
                  cardSecurityCodeResultCode: MATCH
                  threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                credentialOnFileResponse: null
                refundDetails: null
                customData:
                  property1: string
                  property2: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          description: Failed to cancel Payment operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidPurchaseErrorResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}/complete:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Complete Payment
      description: This will effectively capture a payment that has been authorized.
      operationId: completePayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/completionRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac2
              invoiceNumber: 1a2s3d45v6
              customData:
                property1: string
                property2: string
              amount:
                amount: 16000
                currency: CAD
      responses:
        '200':
          description: Payment completed successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              example:
                paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                orderId: 1q2w3e4r5t6t78
                invoiceNumber: 1a2s3d45v6
                transactionDateTime: '2019-07-30T06:43:40.252Z'
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                amount:
                  amount: 16000
                  currency: CAD
                authorizedAmount:
                  amount: 16000
                  currency: CAD
                capturableAmount:
                  amount: 0
                  currency: CAD
                amountDetails: null
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                paymentMethod:
                  paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation: null
                  contactDetails: null
                  billingAddress: null
                  paymentMethodInformation:
                    paymentMethodType: CARD
                    paymentMethodSource: CARD
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2028
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                    storePaymentMethod: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: null
                  customData:
                    property1: string
                    property2: string
                paymentStatus: SUCCEEDED
                transactionDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: '00'
                  responseCode: '000'
                  message: approved
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                verificationDetails:
                  addressVerificationServiceResultCode: FULL_MATCH
                  cardSecurityCodeResultCode: MATCH
                  threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                credentialOnFileResponse: null
                refundDetails: null
                customData: null
        '400':
          description: Failed to complete purchase
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidPurchaseErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          description: Failed Payment operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payment-methods:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List payment methods
      description: Retrieves a paginated list of payment methods.
      operationId: getPaymentMethods
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: Paginated list of payment methods
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponseList'
              example:
                data:
                  - paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    cardholderInformation: null
                    contactDetails: null
                    billingAddress: null
                    paymentMethodInformation:
                      paymentMethodType: CARD
                      paymentMethodSource: CARD
                      cardInformation:
                        bankIdentificationNumber: '123456'
                        lastFour: '1234'
                        expiryMonth: 1
                        expiryYear: 2028
                        cardBrand: MASTERCARD
                        cardType: CREDIT
                        cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                        issuer: RBC
                      paymentAccountReference: '11112222333344445555666677778'
                      storePaymentMethod: DO_NOT_STORE
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    customData:
                      property1: string
                      property2: string
                  - paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    cardholderInformation:
                      cardholderName: John Doe
                      companyName: SP Ltd
                    contactDetails:
                      phoneNumber: '+18663197450'
                      email: moneris@moneris.com
                    billingAddress:
                      unitNumber: 123A
                      streetNumber: '3300'
                      streetName: Bloor Street West
                      city: Toronto
                      province: 'ON'
                      postalCode: M8X 2X2
                      country: CA
                    paymentMethodInformation:
                      paymentMethodType: CARD
                      paymentMethodSource: TEMPORARY_TOKEN
                      cardInformation:
                        bankIdentificationNumber: '123456'
                        lastFour: '1234'
                        expiryMonth: 1
                        expiryYear: 2028
                        cardBrand: MASTERCARD
                        cardType: CREDIT
                        cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                        issuer: RBC
                      paymentAccountReference: '11112222333344445555666677778'
                      storePaymentMethod: DO_NOT_STORE
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    customData:
                      property1: string
                      property2: string
                self: /payment-methods?cursor=d41d8cd98f00b&limit=50
                first: /payment-methods?cursor=d41d8cd98f00b&limit=50
                last: /payment-methods?cursor=d41d8cd98f00b&limit=50
                next: null
                previous: null
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Payment Method
      description: Create a Payment Method.
      operationId: createPaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/cardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/temporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/permanentTokenPaymentMethodRequest'
              apple_pay_encrypted:
                $ref: '#/components/examples/applePayEncryptedPaymentMethodRequest'
              apple_pay_decrypted:
                $ref: '#/components/examples/applePayDecryptedPaymentMethodRequest'
              google_pay_encrypted:
                $ref: '#/components/examples/googlePayEncryptedPaymentMethodRequest'
              google_pay_decrypted:
                $ref: '#/components/examples/googlePayDecryptedPaymentMethodRequest'
      responses:
        '201':
          description: |
            Payment method created successfully.  Response content contains the created payment method.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: '+18663197450'
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: 'ON'
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodInformation:
                  paymentMethodType: CARD
                  paymentMethodSource: CARD
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2028
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                  storePaymentMethod: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payment-methods/{payment-method-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentMethodId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Payment Method
      description: Retrieve a Payment Method by Id
      operationId: getPaymentMethod
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      responses:
        '200':
          description: Payment method found and returned in the response.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: '+18663197450'
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: 'ON'
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodInformation:
                  paymentMethodType: CARD
                  paymentMethodSource: CARD
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2028
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                  storePaymentMethod: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Update Payment method
      description: |
        Update payment method referenced by its Id. 
        Certain details may not be updated if the payment method was used in a transaction.
      operationId: updatePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/updateCardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/updateTemporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/updatePermanentTokenPaymentMethodRequest'
              apple_pay_encrypted:
                $ref: '#/components/examples/applePayEncryptedPaymentMethodRequest'
              apple_pay_decrypted:
                $ref: '#/components/examples/applePayDecryptedPaymentMethodRequest'
              google_pay_encrypted:
                $ref: '#/components/examples/googlePayEncryptedPaymentMethodRequest'
              google_pay_decrypted:
                $ref: '#/components/examples/googlePayDecryptedPaymentMethodRequest'
      responses:
        '200':
          description: Update payment method
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: '+18663197450'
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: 'ON'
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodInformation:
                  paymentMethodType: CARD
                  paymentMethodSource: CARD
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2028
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                  storePaymentMethod: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    delete:
      summary: Delete Payment Method
      description: Deletes a payment method.
      operationId: deletePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      responses:
        '204':
          description: |
            Payment method deleted successfully. 
            Response content contains the payment method details.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /refunds:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Refunds
      description: Returns a paginated list of refund operations.
      operationId: getRefunds
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: Refund list successfully returned.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponseList'
              example:
                data:
                  - refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    payment:
                      paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodInformation:
                        paymentMethodType: CARD
                        paymentMethodSource: CARD
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2028
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                        storePaymentMethod: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    refundAmount:
                      amount: 1600
                      currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    refundStatus: SUCCEEDED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: '00'
                      responseCode: '000'
                      message: SUCCESS
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    reason: Defective product
                    credentialOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                  - refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    payment:
                      paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodInformation:
                        paymentMethodType: CARD
                        paymentMethodSource: CARD
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2028
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                        storePaymentMethod: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    refundAmount:
                      amount: 1600
                      currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    refundStatus: DECLINED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: '51'
                      responseCode: '054'
                      message: Expired Card
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    reason: Defective product
                    credentialOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                self: /refunds?cursor=d41d8cd98f00b&limit=50
                first: /refunds?cursor=d41d8cd98f00b&limit=50
                last: /refunds?cursor=d41d8cd98f00b&limit=50
                next: null
                previous: null
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Refund
      description: |
        This operation is used to create a Refund. 
        For payment refunds, Payment Id is required while payment method is not required.
        For independent refunds, no payment Id is required, however payment method is required.
      operationId: createRefund
      security:
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRefundRequest'
            examples:
              matching:
                $ref: '#/components/examples/matchingRefundRequest'
      responses:
        '201':
          description: Refund operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponse'
              example:
                refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                payment:
                  paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                paymentMethod:
                  paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation: null
                  contactDetails: null
                  billingAddress: null
                  paymentMethodInformation:
                    paymentMethodType: CARD
                    paymentMethodSource: CARD
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2028
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                    storePaymentMethod: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: null
                  customData:
                    property1: string
                    property2: string
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                refundAmount:
                  amount: 1600
                  currency: CAD
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                refundStatus: SUCCEEDED
                transactionDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: '00'
                  responseCode: '000'
                  message: SUCCESS
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                reason: Defective product
                credentialOnFileResponse: null
                customData:
                  property1: string
                  property2: string
        '400':
          description: Refund operation declined
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                invalid_request:
                  $ref: '#/components/examples/InvalidRefundErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          description: Refund operation declined
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/exp-refundResponse_DeclineErrorResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /refunds/{refund-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/refundId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Refund
      description: Retrieve a refund by its Id.
      operationId: getRefundById
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      responses:
        '200':
          description: Successfully retrieved the refund corresponding to the provided `refund-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/SucceededRefundResponse'
                declined:
                  $ref: '#/components/examples/DeclinedRefundResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Refund not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /refunds/ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /validations:
    description: |
      set up a payment method for future payments. 
      Similar to a payment, but no charge is created.
      Useful when onboarding customers but not charging them right away.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Card Validations
      description: Returns a paginated list of the card validations the were executed.
      operationId: getValidations
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of Card Validations
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationsResponseList'
              example:
                data:
                  - validationId: vi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails:
                        phoneNumber: '+18663197450'
                        email: moneris@moneris.com
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: 'ON'
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodInformation:
                        paymentMethodType: CARD
                        paymentMethodSource: CARD
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2028
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                        storePaymentMethod: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: '2019-07-30T06:43:40.252Z'
                      customData:
                        property1: string
                        property2: string
                    validationStatus: SUCCEEDED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: '00'
                      responseCode: '000'
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    verificationDetails:
                      addressVerificationServiceResultCode: FULL_MATCH
                      cardSecurityCodeResultCode: MATCH
                    credentialOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                  - validationId: vi0105ARZ3NDEKTSV4RRFFQ69G5FAX
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails:
                        phoneNumber: '+18663197450'
                        email: moneris@moneris.com
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: 'ON'
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodInformation:
                        paymentMethodType: CARD
                        paymentMethodSource: CARD
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2028
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                        storePaymentMethod: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: '2019-07-30T06:43:40.252Z'
                      customData:
                        property1: string
                        property2: string
                    validationStatus: DECLINED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: '43'
                      responseCode: '421'
                      message: Stolen card, pick up.
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    verificationDetails:
                      addressVerificationServiceResultCode: FULL_MATCH
                      cardSecurityCodeResultCode: MATCH
                    credentialOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                self: /validations?cursor=d41d8cd98f00b&limit=50
                first: /validations?cursor=d41d8cd98f00b&limit=50
                last: /validations?cursor=d41d8cd98f00b&limit=50
                next: null
                previous: null
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Card Validation
      description: Initiate a new Card Validation request.
      operationId: createValidation
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createValidationRequest'
            examples:
              with_payment_method_id:
                $ref: '#/components/examples/validationWithPaymentMethodId'
              with_card_payment_method:
                $ref: '#/components/examples/validationWithCardPaymentMethod'
              with_temporary_token_payment_method:
                $ref: '#/components/examples/validationWithTemporaryTokenPaymentMethod'
              with_permanent_token_payment_method:
                $ref: '#/components/examples/validationWithPermanentTokenPaymentMethod'
              with_apple_pay_encrypted_payment_method:
                $ref: '#/components/examples/validationWithApplePayEncryptedPaymentMethod'
              with_apple_pay_decrypted_payment_method:
                $ref: '#/components/examples/validationWithApplePayDecryptedPaymentMethod'
              with_google_pay_encrypted_payment_method:
                $ref: '#/components/examples/validationWithGooglePayEncryptedPaymentMethod'
              with_google_pay_decrypted_payment_method:
                $ref: '#/components/examples/validationWithGooglePayDecryptedPaymentMethod'
      responses:
        '201':
          description: Validation request created successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResponse'
        '400':
          description: Failed Validation operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                invalid_request:
                  $ref: '#/components/examples/InvalidRequestErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          description: Failed Validation operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/exp-validationResponse_DeclineErrorResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /validations/{validation-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/validationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Card Validation.
      description: Retrieve a Card Validation by Id.
      operationId: getValidation
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      responses:
        '200':
          description: Retrieve a Card Validation by Id
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/ValidationSucceededResponse'
                declined:
                  $ref: '#/components/examples/ValidationDeclinedRetryResponse'
                declined_retry:
                  $ref: '#/components/examples/ValidationDeclinedResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Card validation not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /validations/vi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /customers:
    description: |
      This API allows to manage past and recurring customers.
      Very useful when tracking and managing charges belonging to the same customer.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Customers
      description: Returns a paginated list of customers.
      operationId: getCustomers
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of all customers
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponseList'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Customer
      description: This operation is used to created a new customer.
      operationId: createCustomers
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCustomerRequest'
      responses:
        '201':
          description: Customer operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /customers/{customer-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/customerId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Customer
      description: Retrieve a customer by their Id.
      operationId: getCustomer
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      responses:
        '200':
          description: The customer corresponding to the provided `customerId`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Update Customer
      description: Updates customer's details such as name, address etc...
      operationId: updateCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customerRequest'
      responses:
        '200':
          description: Customer updated successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    delete:
      summary: Delete Customer
      description: Delete a customer by their Id
      operationId: deleteCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      responses:
        '204':
          description: Customer deleted successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentications:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Create Authentication
      description: |
        This operation is used to create an Authentication request. 
        The authentication request is used to start the validation process of the card. 
        The result of this request determines whether 3DS is supported by the card and what type of authentication is required.
      operationId: createAuthentication
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticationRequest'
            examples:
              threeDSecureBrowserChannelWithPaymentMethodId:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithPaymentMethodId'
              threeDSecureBrowserChannelWithCardPaymentMethod:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithCardPaymentMethod'
              threeDSecureBrowserChannelWithTemporaryToken:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithTemporaryToken'
              threeDSecureBrowserChannelWithPermanentToken:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithPermanentToken'
      responses:
        '201':
          description: 3DS Secure authentication was successfully created & executed.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
        '202':
          description: MPI Authentication operation resulted in a challenge.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentications/{authentication-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/authenticationId'
    get:
      summary: Retrieve Authentication
      description: Retrieve an authentication by its authentication Id
      operationId: getAuthentication
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      responses:
        '200':
          description: The authentication corresponding to the provided `authentication-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentications/{authentication-id}/lookup:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/authenticationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Authentication Value Lookup
      description: The point of the 3-D Secure flow is to verify that the true cardholder is a part of the authorization. The challenge flow is used to present a way of authenticating the cardholder using e.g. OTP or a federated identification method.
      operationId: authenticationValueLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lookupRequest'
      responses:
        '200':
          description: MPI Authentication operation was successfully authenticated.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/card-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: 3DS Card Lookup
      operationId: cardLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cardLookupRequest'
      responses:
        '201':
          description: CAVV Lookup operation to read the challenge result.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cardLookupResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
    post:
      summary: Create Kount Inquiry
      operationId: createKountInquiry
      security:
        - OAuth2:
            - kount.write
        - ApiKeyAuth: []
      tags:
        - Kount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kountInquiryRequest'
      responses:
        '201':
          description: Kount Inquiry was successfully approved.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kountResponse'
        '202':
          description: Kount Inquiry accepted and is under review.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kountResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    get:
      summary: List Kount Inquiries
      operationId: getKountInquiries
      security:
        - OAuth2:
            - kount.read
        - ApiKeyAuth: []
      tags:
        - Kount
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: Kount Inquiry operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kountInquiryList'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries/{kount-inquiry-id}:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/kountInquiryId'
    get:
      summary: Get Kount Inquiry by Id
      operationId: getKountInquiryById
      security:
        - OAuth2:
            - kount.read
        - ApiKeyAuth: []
      tags:
        - Kount
      responses:
        '200':
          description: Kount Update operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kountResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries/{kount-inquiry-id}/assert:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/kountInquiryId'
    post:
      summary: Kount Inquiry Assert
      operationId: kountInquiryAssert
      security:
        - OAuth2:
            - kount.write
        - ApiKeyAuth: []
      tags:
        - Kount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kountAssertRequest'
      responses:
        '200':
          description: Kount Update operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kountResponse'
        '202':
          description: Kount Inquiry updated and is under review.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kountResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
[...]
