openapi: 3.0.3
info:
  version: 2.15.1
  title: API de Moneris
  description: |-
    Plateforme des API de Moneris



    [<img src="https://run.pstmn.io/button.svg" alt="Exécuter Dans Postman" style="width: 128px; height:32px;">](https://god.gw.postman.com/run-collection/25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8?action=collection%2Ffork&collection-url=entityId%3D25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8%26entityType%3Dcollection%26workspaceId%3D5d2a9a0f-57a7-441c-b2af-fe6315e80a08)
  termsOfService: https://www.moneris.com/fr-ca/juridiques/conditions-utilisation
  contact:
    url: https://api-developer.moneris.com
    email: api@moneris.com
  license:
    name: Moneris
    url: https://developer.moneris.com/Agreements/Terms%20of%20Use
  x-audience: external-public
servers:
  - url: https://api.sb.moneris.io
    description: Serveur de test (utilise des données de test)
  - url: https://api.moneris.io
    description: Serveur de production (utilise des données réelles)
tags:
  - name: Paiements
    description: Effectuer et gérer les paiements
  - name: Modes de Paiement
    description: Créer et gérer les modes paiements
  - name: Remboursements
    description: Effectuer et gérer les remboursements
  - name: Validations
    description: Effectuer et gérer les validations
  - name: Clients
    description: Créer et gérer les clients
  - name: Authentification 3DS
    description: Effectuer des authentications 3D-Secure sur des moyens de paiements
  - name: Kount
    description: Effectuer et gérer les demandes d'évaluation des risques Kount
  - name: Abonnements
    description: Effectuer et gérer les Abonnements
  - name: Paiements en plusieurs versements
    description: Effectuer et gérer les paiements en plusieurs versements
  - name: Tarification multi-devises
    description: Effectuer et gérer des recherches de taux de change de devises étrangères
  - name: Intégration des commerçants
    description: Gérer l'intégration des commerçants
  - name: Commandes de terminaux et de services
    description: Gérer les commandes de terminaux et de services Moneris
  - name: Produits
    description: Recommandations de produits
  - name: Litiges
    description: Effectuer et gérer les litiges
  - name: Événements
    description: Recevoire des événements en temps réel concernant vos ressources API de Moneris.
  - name: KONEK
    description: APIs KONEK pour les commerçants - Gestion des consentements
  - name: Transactions de crédit d'origine
    description: Effectuer et gérer les transactions de crédit d'origine (OCTs)
paths:
  /payments:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Liste des paiements
      description: Renvoie une liste paginée de paiements.
      operationId: getPayments
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Paiements
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listPaymentsResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Créer un paiement
      description: Cette opération est utilisée pour initier un paiement.
      operationId: createPayments
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentRequest'
            examples:
              regularPurchaseWithPaymentMethodId:
                $ref: '#/components/examples/regularPurchaseWithPaymentMethodId'
              regularPurchaseWithCardPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithCardPaymentMethod'
              regularPurchaseWithTemporaryPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithTemporaryPaymentMethod'
              regularPurchaseWithPermanentPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithPermanentPaymentMethod'
              regularPurchaseWithApplePayEncryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithApplePayEncryptedPaymentMethod'
              regularPurchaseWithApplePayDecryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithApplePayDecryptedPaymentMethod'
              regularPurchaseWithGooglePayEncryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithGooglePayEncryptedPaymentMethod'
              regularPurchaseWithGooglePayDecryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithGooglePayDecryptedPaymentMethod'
              preAuthorizationWithPaymentMethodId:
                $ref: '#/components/examples/preAuthorizationWithPaymentMethodId'
              preAuthorizationWithCardPaymentMethod:
                $ref: '#/components/examples/preAuthorizationWithCardPaymentMethod'
              preAuthorizationWithTemporaryToken:
                $ref: '#/components/examples/preAuthorizationWithTemporaryToken'
              preAuthorizationWithPermanentToken:
                $ref: '#/components/examples/preAuthorizationWithPermanentToken'
      responses:
        '201':
          $ref: '#/components/responses/createPaymentSuccessResponse'
        '400':
          $ref: '#/components/responses/createPaymentBadRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/createPaymentUnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Récupérer le paiement
      description: Récupérer un paiement à l’aide de son ID de paiement
      operationId: getPayment
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Paiements
      responses:
        '200':
          $ref: '#/components/responses/retrievePaymentSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}/cancel:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Annuler le paiement
      description: Annuler un paiement. Cette opération peut ne pas être possible si le paiement a été effectué.
      operationId: cancelPayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelPaymentRequest'
      responses:
        '200':
          $ref: '#/components/responses/cancelPaymentSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/cancelPaymentUnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}/complete:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Effectuer le paiement
      description: Cela permettra de saisir efficacement un paiement qui a été autorisé.
      operationId: completePayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/completionRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac2
              invoiceNumber: 1a2s3d45v6
              customData:
                property1: string
                property2: string
              amount:
                amount: 16000
                currency: CAD
      responses:
        '200':
          $ref: '#/components/responses/completePaymentSuccessResponse'
        '400':
          $ref: '#/components/responses/completePaymentBadRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/completePaymentUnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}/increment:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Effectuer le paiement
      description: Cela permettra de saisir efficacement un paiement qui a été autorisé.
      operationId: incrementPayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/incrementalAuthorizationRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac2
              invoiceNumber: 1a2s3d45v6
              customData:
                property1: string
                property2: string
              amount:
                amount: 10000
                currency: CAD
              dynamicDescriptor: moneris
      responses:
        '200':
          $ref: '#/components/responses/incrementalAuthorizationSuccessResponse'
        '400':
          $ref: '#/components/responses/completePaymentBadRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/completePaymentUnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payment-methods:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Répertorier les modes de paiement
      description: Récupère une liste paginée des modes de paiement.
      operationId: getPaymentMethods
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Modes de Paiement
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listPaymentMethodsResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Créer un mode de paiement
      description: Créez un mode de paiement.
      operationId: createPaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Modes de Paiement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/cardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/temporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/permanentTokenPaymentMethodRequest'
              apple_pay_encrypted:
                $ref: '#/components/examples/applePayEncryptedPaymentMethodRequest'
              apple_pay_decrypted:
                $ref: '#/components/examples/applePayDecryptedPaymentMethodRequest'
              google_pay_encrypted:
                $ref: '#/components/examples/googlePayEncryptedPaymentMethodRequest'
              google_pay_decrypted:
                $ref: '#/components/examples/googlePayDecryptedPaymentMethodRequest'
      responses:
        '201':
          $ref: '#/components/responses/createPaymentMethodSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payment-methods/{payment-method-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentMethodId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Récupérer le mode de paiement
      description: Récupérer un moyen de paiement par ID
      operationId: getPaymentMethod
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Modes de Paiement
      responses:
        '200':
          $ref: '#/components/responses/retrievePaymentMethodSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/paymentMethodNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Mettre à jour le mode de paiement
      description: |
        Mettre à jour le mode de paiement référencé par son Id en remplaçant l'objet du mode de paiement entier par les nouvelles données fournies. Cette API prend en charge les mises à jour uniquement pour les modes de paiement qui ne sont pas stockés. Pour mettre à jour des champs spécifiques d'un mode de paiement (stocké ou non), utilisez plutôt l'API de mise à jour du mode de paiement (Patch).
      operationId: updatePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Modes de Paiement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/updateCardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/updateTemporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/updatePermanentTokenPaymentMethodRequest'
              apple_pay_encrypted:
                $ref: '#/components/examples/applePayEncryptedPaymentMethodRequest'
              apple_pay_decrypted:
                $ref: '#/components/examples/applePayDecryptedPaymentMethodRequest'
              google_pay_encrypted:
                $ref: '#/components/examples/googlePayEncryptedPaymentMethodRequest'
              google_pay_decrypted:
                $ref: '#/components/examples/googlePayDecryptedPaymentMethodRequest'
      responses:
        '200':
          $ref: '#/components/responses/paymentMethodUpdateSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/paymentMethodNotFoundResponse'
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    patch:
      summary: Mettre à jour le mode de paiement
      description: |
        Mettre à jour des champs spécifiques d'un mode de paiement identifié par son Id. Cette API prend en charge les mises à jour pour les modes de paiement stockés et non stockés.
      operationId: updatePaymentMethodInformation
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/updatePaymentMethodInformationRequest'
            examples:
              card:
                $ref: '#/components/examples/updatePaymentMethodInformationRequest'
      responses:
        '200':
          $ref: '#/components/responses/paymentMethodUpdateSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/paymentMethodNotFoundResponse'
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    delete:
      summary: Supprimer le mode de paiement
      description: Supprime un mode de paiement.
      operationId: deletePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Modes de Paiement
      responses:
        '204':
          $ref: '#/components/responses/paymentMethodDeleteSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/paymentMethodNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /refunds:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Liste des remboursements
      description: Renvoie une liste paginée des opérations de remboursement.
      operationId: getRefunds
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Remboursements
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listRefundsSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Créer un remboursement
      description: |
        Cette opération est utilisée pour créer un remboursement. 
        Pour les remboursements de paiement, l’ID de paiement est requis tandis que le mode de paiement n’est pas requis.
        Pour les remboursements indépendants, aucun identifiant de paiement n’est requis, mais le mode de paiement est requis.
      operationId: createRefund
      security:
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Remboursements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRefundRequest'
            examples:
              matching:
                $ref: '#/components/examples/matchingRefundRequest'
      responses:
        '201':
          $ref: '#/components/responses/createRefundSuccessResponse'
        '400':
          $ref: '#/components/responses/createRefundBadRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/createRefundDeclinedResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /refunds/{refund-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/refundId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Récupérer le remboursement
      description: Récupérer un remboursement par son Id.
      operationId: getRefundById
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Remboursements
      responses:
        '200':
          $ref: '#/components/responses/retrieveRefundSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/refundNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /validations:
    description: |
      Paramétrez un mode de paiement pour les paiements futurs. 
      Similaire à un paiement, mais aucun frais n’est créé.
      Utile lors de l’intégration des clients, mais pas pour les facturer tout de suite.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Validations de cartes de liste
      description: Renvoie une liste paginée des validations de cartes qui ont été exécutées.
      operationId: getValidations
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listValidationsSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Créer une validation de carte
      description: Lancez une nouvelle demande de validation de carte.
      operationId: createValidation
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createValidationRequest'
            examples:
              with_payment_method_id:
                $ref: '#/components/examples/validationWithPaymentMethodId'
              with_card_payment_method:
                $ref: '#/components/examples/validationWithCardPaymentMethod'
              with_temporary_token_payment_method:
                $ref: '#/components/examples/validationWithTemporaryTokenPaymentMethod'
              with_permanent_token_payment_method:
                $ref: '#/components/examples/validationWithPermanentTokenPaymentMethod'
              with_apple_pay_encrypted_payment_method:
                $ref: '#/components/examples/validationWithApplePayEncryptedPaymentMethod'
              with_apple_pay_decrypted_payment_method:
                $ref: '#/components/examples/validationWithApplePayDecryptedPaymentMethod'
              with_google_pay_encrypted_payment_method:
                $ref: '#/components/examples/validationWithGooglePayEncryptedPaymentMethod'
              with_google_pay_decrypted_payment_method:
                $ref: '#/components/examples/validationWithGooglePayDecryptedPaymentMethod'
      responses:
        '201':
          description: Demande de validation créée avec succès.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation'
        '400':
          description: Réponse du résultat de l’opération de validation ayant échoué
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                invalid_request:
                  $ref: '#/components/examples/InvalidRequestErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          description: Réponse du résultat de l’opération de validation ayant échoué
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/exp-validationResponse_DeclineErrorResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /validations/{validation-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/validationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Récupérer la validation de la carte.
      description: Récupérer une validation de carte par id.
      operationId: getValidation
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      responses:
        '200':
          $ref: '#/components/responses/retrieveValidationSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/validationNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Créer un abonnement
      description: |-
        <p>Cette opération permet de créer un abonnement.</p>
        <h4>
          <span>Webhooks</span>
        </h4>
        <details>
          <summary style="color: rgba(0, 113, 145, 1);">Détails de la définition du webhook</summary>
          <div class="collapsible">
            <div class="tabs">
              <div class="tab-label" style="background-color: #051D33; color: #FFFFFF;">application/json</div>
              <div class="tab-content" style="display: block;">
                <type-definition>
                  <h4 class="text-truncate flex-grow">Corps de la requête Webhook</h4>
                  <p>
                  <p>Il s'agit de la définition de base de tous les messages d'événement. Il contient les propriétés communes partagées par tous les événements.</p>
                  </p>
                  <div role="table" class="table-preset table-preset-schema" id="webhookRequestTable">
                    <div class="d-contents" role="rowgroup">
                      <div class="d-contents" role="row">
                        <div role="columnheader" class="table-preset-head text-truncate">
                          <span>
                            Nom</span>
                        </div>
                        <div role="columnheader" class="table-preset-head text-truncate">
                          <span>
                            Requis</span>
                        </div>
                        <div role="columnheader" class="table-preset-head text-truncate">
                          <span>Information supplémentaire</span>
                        </div>
                        <div role="columnheader" class="table-preset-head">
                          <span>
                            Description</span>
                        </div>
                      </div>
                    </div>
                    <div class="d-contents" role="rowgroup">
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="eventId">
                          eventId</div>
                        <div role="cell">
                          true</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Identifiant unique de l'événement. Peut être utilisé comme clé d'idempotence pour éviter les doublons.</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="eventType">
                          eventType</div>
                        <div role="cell">
                          true</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Voici une liste de tous les types d'événements que nous envoyons actuellement.</p>
                          <ul>
                            <li>RECURRING_PAYMENT_CONFIRMED: Une transaction de paiement d'abonnement a été exécutée.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="occuredAt">
                          occuredAt</div>
                        <div role="cell">
                          true</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            date-time</a>
                        </div>
                        <div role="cell">
                          <p>l'horodatage du moment où l'événement s'est produit (pas nécessairement le même que celui où il a été livré)</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="apiVersion">
                          apiVersion</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>La version de l'API Moneris utilisée pour remplir le corps de l'événement.</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="objectId">
                          objectId</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Utilisé pour identifier les ressources API qui peuvent être nécessaires pour les transactions ultérieures futures ; c’est-à-dire les remboursements, les corrections, les achèvements, les annulations, etc.</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="href">
                          href</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Localisateur de ressources uniforme pour récupérer les détails des ressources</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="correlationId">
                          correlationId</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Corrèle une série de requêtes au sein d’un même flux.</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="data">
                          data</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace"
                            href="/api-details#api=moneris-api-2025-02-20-preview-fr&operation=createPayments" title="payment">
                            payment</a>
                        </div>
                        <div role="cell">
                          <p>Les données de paiement associées à l'événement.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <code-snippet id="webhookRequestDefinition" style="display: none;">
                    <h4></h4>
                    <div></div>
                    <div class="flex code-snippet code-snippet-bordered">
                      <div class="code-snippet-heading">
                        <span class="code-snippet-title">json</span>
                        <button class="code-snippet-command" aria-label="Copy to clipboard">
                          <i class="icon-emb icon-emb-duplicate"></i>
                          <span>Copy</span>
                        </button>
                      </div>
                    </div>
                    <pre>
        <span class="token punctuation">{</span>
          <span class="token property">"title"</span><span class="token operator">:</span> <span class="token string">"webhookRequest"</span><span class="token punctuation">,</span>
          <span class="token property">"required"</span><span class="token operator">:</span> <span class="token punctuation">[</span>
            <span class="token string">"eventId"</span><span class="token punctuation">,</span>
            <span class="token string">"eventType"</span><span class="token punctuation">,</span>
            <span class="token string">"occuredAt"</span><span class="token punctuation">,</span>
          <span class="token punctuation">]</span><span class="token punctuation">,</span>
          <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"object"</span><span class="token punctuation">,</span>
          <span class="token property">"properties"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
          <span class="token property">"eventId"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Identifiant unique de l'événement. Peut être utilisé comme clé d'idempotence pour éviter les doublons."</span><span class="token punctuation">,</span>
            <span class="token property">"pattern"</span><span class="token operator">:</span> <span class="token string">"^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$"</span><span class="token punctuation">,</span>
            <span class="token property">"minLength"</span><span class="token operator">:</span> <span class="token string">30</span><span class="token punctuation">,</span>
            <span class="token property">"maxLength"</span><span class="token operator">:</span> <span class="token string">30</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">"ev0105ARZ3NDEKTSV4RRFFQ69G5FAV"</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"eventType"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Il s'agit d'une liste de tous les types d'événements que nous envoyons actuellement. RECURRING_PAYMENT_CONFIRMED"</span><span class="token punctuation">,</span>
            <span class="token property">"enum"</span><span class="token operator">:</span> <span class="token punctuation">[</span>
                <span class="token string">"RECURRING_PAYMENT_CONFIRMED"</span>
            <span class="token punctuation">]</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">RECURRING_PAYMENT_CONFIRMED</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"occuredAt"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Date et heure à laquelle l'événement s'est produit."</span><span class="token punctuation">,</span>
            <span class="token property">"format"</span><span class="token operator">:</span> <span class="token string">"date-time"</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">2025-02-17T18:00:00Z</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"apiVersion"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"The Moneris API Version used to populate the event payload."</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">2024-09-17</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"objectId"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Utilisé pour identifier les ressources API qui peuvent être nécessaires pour les transactions ultérieures futures ; c’est-à-dire les remboursements, les corrections, les achèvements, les annulations, etc."</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">pi0105ARZ3NDEKTSV4RRFFQ69G5FAV</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"href"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Localisateur de ressources uniforme pour récupérer les détails des ressources"</span><span class="token punctuation">,</span>
            <span class="token property">"format"</span><span class="token operator">:</span> <span class="token string">"uri-reference"</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">/payments/pi0105ARZ3NDEKTSV4RRFFQ69G5FAV</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"correlationId"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Correlation Id transmitted during the original request."</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">"f0d4c76f-f129-4b91-92a3-9a120829bbe5"</span><span class="token punctuation">,</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"data"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"object"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Représentation complète de la ressource qui a déclenché l'événement. Pour les paiements, ce sera l'objet Paiement."</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span>
          <span class="token punctuation">}</span>
        <span class="token punctuation">}</span>
        </pre>
                  </code-snippet>
                </type-definition>
              </div>
            </div>
            <h3><span>Response</span> <span
               >200 OK</span></h3>
            <p>
            <p>Votre implémentation de serveur doit renvoyer ce code d'état HTTP si les données ont été reçues avec succès</p>
            </p>
            <h3><span>Response</span> <span
               >400 Bad Request</span></h3>
            <p>
            <p>Votre implémentation de serveur doit renvoyer ce code d'état HTTP si le serveur n'a pas réussi à traiter l'événement de rappel</p>
            </p>
          </div>
        </details>
      operationId: createSubscriptions
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Abonnements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSubscriptionRequest'
            examples:
              subscriptionRequestWithImmediateInitialAmount:
                $ref: '#/components/examples/subscriptionRequestWithImmediateInitialAmount'
              dailyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/dailyPaymentRequestToStartAtbillingStartDate'
              weeklyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/weeklyPaymentRequestToStartAtbillingStartDate'
              biweeklyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/biweeklyPaymentRequestToStartAtbillingStartDate'
              monthlyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/monthlyPaymentRequestToStartAtbillingStartDate'
              endOfMonthPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/endOfMonthPaymentRequestToStartAtbillingStartDate'
      responses:
        '201':
          $ref: '#/components/responses/createSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    get:
      summary: Lister les abonnements
      description: Renvoie une liste paginée des abonnements.
      operationId: getSubscriptions
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Abonnements
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listSubscriptionsResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
    get:
      summary: Récupérer un abonnement
      description: Récupérer les détails d'un abonnement par identifiant
      operationId: getSubscription
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Abonnements
      responses:
        '200':
          $ref: '#/components/responses/retrieveSubscriptionSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    patch:
      summary: Mettre à jour l'abonnement
      description: Mettre à jour l'abonnement
      operationId: updateSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Abonnements
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/updateSubscriptionDetails'
      responses:
        '200':
          $ref: '#/components/responses/updateSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/resume:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Reprendre un abonnement
      description: |
        Reprend une facturation d'abonnement.
        Lorsqu'une transaction est en attente, elle n'est pas facturée pour le montant récurrent.
        Cependant, le nombre de récurrences restantes continue d'être décrémenté pendant cette période.
      operationId: resumeSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Abonnements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resumeSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/resumeSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/pause:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Suspendre un abonnement
      description: |
        Suspend temporairement la facturation d'abonnement.
        Lorsqu'une transaction est en attente, elle n'est pas facturée pour le montant d'abonnement.
        Toutefois, le nombre de transactions d'abonnement restantes continue de diminuer pendant cette période.
      operationId: pauseSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Abonnements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pauseSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/pauseSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/cancel:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Annuler un abonnement
      description: Annuler un abonnement.
      operationId: cancelSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Abonnements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/cancelSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/extend:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Prolonger un abonnement
      description: |-
        Ajoute le nombre donné de transactions d'abonnement au nombre actuel (restant).
        Cela peut être utilisé si un client décide de prolonger un abonnement.
        Cependant, comme ce nombre doit être positif, il ne peut pas être utilisé pour diminuer le nombre actuel de transactions d'abonnement. Pour cela, utilisez Mettre à jour un abonnement.
      operationId: extendSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Abonnements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extendSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/extendSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /customers:
    description: |
      Cette API permet de gérer les clients passés et récurrents.
      Très utile lors du suivi et de la gestion des frais appartenant au même client.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Liste des clients
      description: Renvoie une liste paginée de clients.
      operationId: getCustomers
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Clients
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listCustomersSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Créer un client
      description: Cette opération permet de créer un nouveau client.
      operationId: createCustomers
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Clients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCustomerRequest'
      responses:
        '201':
          $ref: '#/components/responses/createCustomerSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /customers/{customer-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/customerId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Récupérer le client
      description: Récupérer un client par son Id.
      operationId: getCustomer
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Clients
      responses:
        '200':
          $ref: '#/components/responses/retrieveCustomerSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/customerNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Mettre à jour le client
      description: Met à jour les données du client telles que le nom, l’adresse, etc.
      operationId: updateCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Clients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customerRequest'
      responses:
        '200':
          $ref: '#/components/responses/customerUpdateSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/customerNotFoundResponse'
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    delete:
      summary: Supprimer le client
      description: Supprimer un client par son identifiant
      operationId: deleteCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Clients
      responses:
        '204':
          $ref: '#/components/responses/customerDeleteSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/customerNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentications:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Créer une authentification
      description: |
        Cette opération permet de créer une demande d’authentification. 
        La demande d’authentification sert à lancer le processus de validation de la carte. 
        Le résultat de cette demande détermine si 3DS est pris en charge par la carte et quel type d’authentification est requis.
      operationId: createAuthentication
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Authentification 3DS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticationRequest'
            examples:
              threeDSecureBrowserChannelWithPaymentMethodId:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithPaymentMethodId'
              threeDSecureBrowserChannelWithCardPaymentMethod:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithCardPaymentMethod'
              threeDSecureBrowserChannelWithTemporaryToken:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithTemporaryToken'
              threeDSecureBrowserChannelWithPermanentToken:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithPermanentToken'
      responses:
        '201':
          $ref: '#/components/responses/createThreeDSecureAuthenticationSuccessResponse'
        '202':
          $ref: '#/components/responses/createThreeDSecureAuthenticationChallengeResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentications/{authentication-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/authenticationId'
    get:
      summary: Récupérer l’authentification
      description: Récupérer une authentification par son ID d’authentification
      operationId: getAuthentication
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Authentification 3DS
      responses:
        '200':
          $ref: '#/components/responses/retrieveThreeDSecureAuthenticationSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentication-value-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Recherche de valeur d’authentification
      description: L’objectif du flux 3-D Secure est de vérifier que le véritable titulaire de la carte fait partie de l’autorisation. Le flux d’authentification est utilisé pour présenter un moyen d’authentifier le titulaire de la carte à l’aide, par exemple, de l’OTP ou d’une méthode d’identification fédérée.
      operationId: authenticationValueLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Authentification 3DS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lookupRequest'
      responses:
        '200':
          $ref: '#/components/responses/threeDSecureAuthenticationLookupSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/card-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Recherche de carte 3DS
      operationId: cardLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Authentification 3DS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cardLookupRequest'
      responses:
        '201':
          $ref: '#/components/responses/createThreeDSecureCardLookupSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
    post:
      summary: Créer une demande Kount
      operationId: createKountInquiry
      security:
        - OAuth2:
            - kount.write
        - ApiKeyAuth: []
      tags:
        - Kount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kountInquiryRequest'
      responses:
        '201':
          $ref: '#/components/responses/createKountInquirySuccessResponse'
        '202':
          $ref: '#/components/responses/createKountInquiryAcceptedResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    get:
      summary: Liste Kount Demandes de renseignements
      operationId: getKountInquiries
      security:
        - OAuth2:
            - kount.read
        - ApiKeyAuth: []
      tags:
        - Kount
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listKountInquiriesSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries/{kount-inquiry-id}:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/kountInquiryId'
    get:
      summary: Obtenir Kount Inquiry by Id
      operationId: getKountInquiryById
      security:
        - OAuth2:
            - kount.read
        - ApiKeyAuth: []
      tags:
        - Kount
      responses:
        '200':
          $ref: '#/components/responses/retrieveKountInquiryResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries/{kount-inquiry-id}/assert:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/kountInquiryId'
    post:
      summary: Kount Inquiry Assert
      operationId: kountInquiryAssert
      security:
        - OAuth2:
            - kount.write
        - ApiKeyAuth: []
      tags:
        - Kount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kountAssertRequest'
      responses:
        '200':
          $ref: '#/components/responses/assertKountInquirySuccessResponse'
        '202':
          $ref: '#/components/responses/assertKountInquiryAcceptedResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /installments/plans:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Recherche de plan d'installments
      description: Retourne la liste des plans d'installments pour lesquels le titulaire de la carte est éligible.
      operationId: installmentLookup
      tags:
        - Installments
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      requestBody:
        description: Requête de recherche de plan d'installments
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/installmentEligibilityRequest'
      responses:
        '200':
          $ref: '#/components/responses/installmentLookupResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /surcharge-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Recherche de supplément
      description: Effectue une recherche de supplément et détermine si le mode de paiement est éligible ou non et fournit le taux maximum et le montant maximum s'il est éligible.
      operationId: surchargeLookUp
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Recherche de supplément
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurchargeEligibilityRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac1
              amount:
                amount: 16000
                currency: CAD
              paymentMethod:
                paymentMethodSource: CARD
                card:
                  cardNumber: '4444111122223333'
                  expiryMonth: 1
                  expiryYear: 2025
                  cardSecurityCode: '123'
      responses:
        '200':
          $ref: '#/components/responses/SurchargeEligibilitySuccessfulResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /multi-currency-pricing-rates:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Recherche de taux de prix multi-devises
      description: |
        Effectue une recherche du taux de change d'une devise étrangère et sécurise ce taux de change pour une transaction financière ultérieure en Multi-Currency Pricing.
        Le taux de change obtenu par cette demande de transaction est représenté dans la réponse sous forme de multiCurrencyPricingRateLookupId, et le taux de change sous-jacent est verrouillé pour une période de temps limitée.
      operationId: mcpRate
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Tarification multi-devises
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/multiCurrencyPricingRateLookupRequest'
      responses:
        '207':
          $ref: '#/components/responses/multiCurrencyPricingRateLookup'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /multi-currency-pricing-rates/{multi-currency-pricing-rate-lookup-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/multiCurrencyPricingRateLookupId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Récupérer le taux de Multi-Currency Pricing par Id.
      description: Récupérer les résultats du taux de Multi-Currency Pricing par Id.``
      operationId: getMultiCurrencyPricingRateById
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Tarification multi-devises
      responses:
        '200':
          $ref: '#/components/responses/multiCurrencyPricingRateLookup'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /onboarding/merchants:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
    post:
      summary: Create Merchant
      description: Submit a merchant payload to create a merchant
      operationId: createMerchant
      security:
        - OAuth2:
            - onboarding.merchant.write
        - ApiKeyAuth: []
      tags:
        - Intégration des commerçants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createMerchantRequest'
      responses:
        '201':
          description: Successful response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
            Location:
              $ref: '#/components/headers/location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant'
              example:
                merchantId: '0030211900875'
                businessDetails:
                  isSeasonalMerchant: false
                  merchantCategoryCode: '0742'
                  averageTicketSize: 3
                  directSellingPercentage: 86
                  motoTransactionPercentage: 14
                  ecommerceTransactionPercentage: 0
                  businessUrl: https://www.test.io
                  serviceProvider: moneris.com
                  serviceDeliverToCanadaAvailable: true
                  serviceDeliverToUSAvailable: true
                  creditTransactionVolume: 250000
                  masterCardTransactionVolume: 100000
                  visaTransactionVolume: 100000
                  visaDebitTransactionVolume: 0
                  amexTransactionVolume: 25000
                  interacTransactionVolume: 50000
                  interacDirectTransactionVolume: 40000
                  masterCardDebitTransactionVolume: 0
                  offeredProductsAndServicesDescription: food
                merchantDetails:
                  contactInformation:
                    firstName: Joe
                    lastName: Test
                    phone: '+11234567890'
                  merchantInformation:
                    cardholderName: Joe Test
                    language: en
                    legalName: Joe
                    operatingAsName: Joe OPS
                    yearsOfOwnership: 3
                    monthsOfOwnership: 2
                    customerServicePhoneNumber: '+11234567890'
                    email: qa-test@moneris.com
                    merchantType: NATIONAL
                  locationAddress:
                    postalCode: M5T2G2
                    city: TORONTO
                    province: 'ON'
                    streetName: SPADINA AVE
                    country: CA
                businessActivity:
                  dropShipping: true
                securityDetails:
                  legalEntity:
                    businessType: PRIVATE_CORPORATION
                  signingOfficers:
                    - signingOfficerIdentifier: 1234
                      dateOfBirth: '1980-01-01'
                      creditReportAllowed: true
                      firstName: DOMEMIC
                      lastName: TESTPOTKIDIS
                      address:
                        postalCode: K1M1N8
                        city: OTTAWA
                        province: 'ON'
                        streetName: STANLEY
                        country: CA
                      ownershipPercentage: 100
                      title: VICE_PRESIDENT
                riskDetails:
                  merchantRiskRate: A_PLUS
                pointOfSaleOptions:
                  settlementOption: MERCHANT_CLOSE
                  settlementTime: '23:00:00'
                  debitPerTransactionRefundLimit:
                    amount: 0
                    currency: CAD
                  dailyRefundLimit:
                    amount: 0
                    currency: CAD
                  dailyCancellationLimit:
                    amount: 0
                    currency: CAD
                bankingDetails:
                  creditDepositAccount:
                    currency: CAD
                    institutionNumber: '00809'
                    transitNumber: '00160'
                    otherFinancialInstitutionCode: '23232'
                    accountNumber: '3333333333'
                  additionalBankingAccounts: []
                chainId: '0030600062664'
                createdAt: '2025-01-01T00:00:00Z'
                modifiedAt: '2025-01-01T00:00:00Z'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /onboarding/merchants/{merchant-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-merchants_merchantId'
    get:
      summary: Get the details of a Merchant
      operationId: getMerchantDetailsByMerchantId
      tags:
        - Intégration des commerçants
      description: |
        Get merchant details by ID
      security:
        - OAuth2:
            - onboarding.merchant.read
        - OAuth2:
            - onboarding.merchant.write
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response corresponding to the provided merchant id parameter
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant'
              example:
                merchantId: '0030211900875'
                businessDetails:
                  isSeasonalMerchant: false
                  merchantCategoryCode: '0742'
                  averageTicketSize: 3
                  directSellingPercentage: 86
                  motoTransactionPercentage: 14
                  ecommerceTransactionPercentage: 0
                  businessUrl: https://www.test.io
                  serviceProvider: moneris.com
                  serviceDeliverToCanadaAvailable: true
                  serviceDeliverToUSAvailable: true
                  creditTransactionVolume: 250000
                  masterCardTransactionVolume: 100000
                  visaTransactionVolume: 100000
                  visaDebitTransactionVolume: 0
                  amexTransactionVolume: 25000
                  interacTransactionVolume: 50000
                  interacDirectTransactionVolume: 40000
                  masterCardDebitTransactionVolume: 0
                  offeredProductsAndServicesDescription: food
                merchantDetails:
                  contactInformation:
                    firstName: Joe
                    lastName: Test
                    phone: '+11234567890'
                  merchantInformation:
                    cardholderName: Joe Test
                    language: en
                    legalName: Joe
                    operatingAsName: Joe OPS
                    yearsOfOwnership: 3
                    monthsOfOwnership: 2
                    customerServicePhoneNumber: '+11234567890'
                    email: qa-test@moneris.com
                    merchantType: NATIONAL
                  locationAddress:
                    postalCode: M5T2G2
                    city: TORONTO
                    province: 'ON'
                    streetName: SPADINA AVE
                    country: CA
                businessActivity:
                  dropShipping: true
                securityDetails:
                  legalEntity:
                    businessType: PRIVATE_CORPORATION
                  signingOfficers:
                    - signingOfficerIdentifier: 1234
                      dateOfBirth: '1980-01-01'
                      creditReportAllowed: true
                      firstName: DOMEMIC
                      lastName: TESTPOTKIDIS
                      address:
                        postalCode: K1M1N8
                        city: OTTAWA
                        province: 'ON'
                        streetName: STANLEY
                        country: CA
                      ownershipPercentage: 100
                      title: VICE_PRESIDENT
                riskDetails:
                  merchantRiskRate: A_PLUS
                pointOfSaleOptions:
                  settlementOption: MERCHANT_CLOSE
                  settlementTime: '23:00:00'
                  debitPerTransactionRefundLimit:
                    amount: 0
                    currency: CAD
                  dailyRefundLimit:
                    amount: 0
                    currency: CAD
                  dailyCancellationLimit:
                    amount: 0
                    currency: CAD
                bankingDetails:
                  creditDepositAccount:
                    currency: CAD
                    institutionNumber: '00809'
                    transitNumber: '00160'
                    otherFinancialInstitutionCode: '23232'
                    accountNumber: '3333333333'
                  additionalBankingAccounts: []
                chainId: '0030600062664'
                createdAt: '2025-01-01T00:00:00Z'
                modifiedAt: '2025-01-01T00:00:00Z'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Update Merchant
      operationId: updateMerchant
      security:
        - OAuth2:
            - onboarding.merchant.write
        - ApiKeyAuth: []
      tags:
        - Commerçants
      description: |
        Update merchant based on the supplied payload.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/merchantPayload'
      responses:
        '200':
          description: Successful response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant'
              example:
                merchantId: '0030211900875'
                businessDetails:
                  isSeasonalMerchant: false
                  merchantCategoryCode: '0742'
                  averageTicketSize: 3
                  directSellingPercentage: 86
                  motoTransactionPercentage: 14
                  ecommerceTransactionPercentage: 0
                  businessUrl: https://www.test.io
                  serviceProvider: moneris.com
                  serviceDeliverToCanadaAvailable: true
                  serviceDeliverToUSAvailable: true
                  creditTransactionVolume: 250000
                  masterCardTransactionVolume: 100000
                  visaTransactionVolume: 100000
                  visaDebitTransactionVolume: 0
                  amexTransactionVolume: 25000
                  interacTransactionVolume: 50000
                  interacDirectTransactionVolume: 40000
                  masterCardDebitTransactionVolume: 0
                  offeredProductsAndServicesDescription: food
                merchantDetails:
                  contactInformation:
                    firstName: Joe
[...]
