openapi: 3.0.3
info:
  version: 2.15.1
  title: Moneris API
  description: |-
    Moneris API Platform


    [<img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height:32px;">](https://god.gw.postman.com/run-collection/25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8?action=collection%2Ffork&collection-url=entityId%3D25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8%26entityType%3Dcollection%26workspaceId%3D5d2a9a0f-57a7-441c-b2af-fe6315e80a08)
  termsOfService: https://www.moneris.com/en/legal/terms-of-use
  contact:
    url: https://api-developer.moneris.com
    email: api@moneris.com
  license:
    name: Moneris
    url: https://developer.moneris.com/Agreements/Terms%20of%20Use
  x-audience: external-public
servers:
  - url: https://api.sb.moneris.io
    description: Sandbox server (uses test data)
    x-internal: false
  - url: https://api.moneris.io
    description: Production server (uses live data)
    x-internal: false
tags:
  - name: Payments
    description: Perform and Manage payments
  - name: Payment Methods
    description: Create and Manage payment methods
  - name: Refunds
    description: Perform and Manage payment refunds
  - name: Validations
    description: Perform and Manage card validations
  - name: Customers
    description: Perform and Manage customers
  - name: 3D Secure
    description: Perform 3D Secure authentications against payment methods
  - name: Kount
    description: Perform and Manage Kount risk assessment inquiries
  - name: Subscriptions
    description: Perform and Manage Subscriptions
  - name: Installments
    description: Perform and Manage Installments
  - name: Multi-Currency Pricing Rate Lookup
    description: Retrieve Multi-Currency Pricing Rate Lookups
  - name: Merchant Onboarding
    description: Manage Merchants onboarding
  - name: Terminal & Service Orders
    description: Manage Moneris Terminal & Service Orders
  - name: Products
    description: Product recommendations
  - name: Disputes
    description: Perform and Manage Disputes
  - name: Events
    description: Receive events in near real-time concerning your Moneris API resources.
  - name: KONEK
    description: KONEK APIs for Merchant - Consent Management
  - name: Original Credit Transactions
    description: Perform and Manage Original Credit Transactions (OCTs)
paths:
  /payments:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Payments
      description: Returns a paginated list of payments.
      operationId: getPayments
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listPaymentsResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Payment
      description: This operation is used to initiate a Payment.
      operationId: createPayments
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentRequest'
            examples:
              regularPurchaseWithPaymentMethodId:
                $ref: '#/components/examples/regularPurchaseWithPaymentMethodId'
              regularPurchaseWithCardPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithCardPaymentMethod'
              regularPurchaseWithTemporaryPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithTemporaryPaymentMethod'
              regularPurchaseWithPermanentPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithPermanentPaymentMethod'
              regularPurchaseWithApplePayEncryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithApplePayEncryptedPaymentMethod'
              regularPurchaseWithApplePayDecryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithApplePayDecryptedPaymentMethod'
              regularPurchaseWithGooglePayEncryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithGooglePayEncryptedPaymentMethod'
              regularPurchaseWithGooglePayDecryptedPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithGooglePayDecryptedPaymentMethod'
              preAuthorizationWithPaymentMethodId:
                $ref: '#/components/examples/preAuthorizationWithPaymentMethodId'
              preAuthorizationWithCardPaymentMethod:
                $ref: '#/components/examples/preAuthorizationWithCardPaymentMethod'
              preAuthorizationWithTemporaryToken:
                $ref: '#/components/examples/preAuthorizationWithTemporaryToken'
              preAuthorizationWithPermanentToken:
                $ref: '#/components/examples/preAuthorizationWithPermanentToken'
      responses:
        '201':
          $ref: '#/components/responses/createPaymentSuccessResponse'
        '400':
          $ref: '#/components/responses/createPaymentBadRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/createPaymentUnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Payment
      description: Retrieve a payment by its payment Id
      operationId: getPayment
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      responses:
        '200':
          $ref: '#/components/responses/retrievePaymentSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}/cancel:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Cancel Payment
      description: Cancel a payment. This operation may not be possible if the payment has gone through.
      operationId: cancelPayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelPaymentRequest'
      responses:
        '200':
          $ref: '#/components/responses/cancelPaymentSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/cancelPaymentUnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}/complete:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Complete Payment
      description: This will effectively capture a payment that has been authorized.
      operationId: completePayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/completionRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac2
              invoiceNumber: 1a2s3d45v6
              customData:
                property1: string
                property2: string
              amount:
                amount: 16000
                currency: CAD
      responses:
        '200':
          $ref: '#/components/responses/completePaymentSuccessResponse'
        '400':
          $ref: '#/components/responses/completePaymentBadRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/completePaymentUnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payments/{payment-id}/increment:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Increment Payment
      description: |
        Increases the locked amount of funds in an existing pre-authorization (Payment with automaticCapture = false) for later settle by a single pre-authorization completion.  There is no limit to the number of Increment Payment API calls on the original estimated authorization and each new Increment Payment increases the hold on the customer's credit card.
      operationId: incrementPayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/incrementalAuthorizationRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac2
              invoiceNumber: 1a2s3d45v6
              customData:
                property1: string
                property2: string
              amount:
                amount: 10000
                currency: CAD
              dynamicDescriptor: moneris
      responses:
        '200':
          $ref: '#/components/responses/incrementalAuthorizationSuccessResponse'
        '400':
          $ref: '#/components/responses/completePaymentBadRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/completePaymentUnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payment-methods:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List payment methods
      description: Retrieves a paginated list of payment methods.
      operationId: getPaymentMethods
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listPaymentMethodsResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Payment Method
      description: Create a Payment Method.
      operationId: createPaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/cardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/temporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/permanentTokenPaymentMethodRequest'
              apple_pay_encrypted:
                $ref: '#/components/examples/applePayEncryptedPaymentMethodRequest'
              apple_pay_decrypted:
                $ref: '#/components/examples/applePayDecryptedPaymentMethodRequest'
              google_pay_encrypted:
                $ref: '#/components/examples/googlePayEncryptedPaymentMethodRequest'
              google_pay_decrypted:
                $ref: '#/components/examples/googlePayDecryptedPaymentMethodRequest'
      responses:
        '201':
          $ref: '#/components/responses/createPaymentMethodSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /payment-methods/{payment-method-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentMethodId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Payment Method
      description: Retrieve a Payment Method by Id
      operationId: getPaymentMethod
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      responses:
        '200':
          $ref: '#/components/responses/retrievePaymentMethodSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/paymentMethodNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Update Payment Method
      description: |
        Updates a payment method identified by its Id by replacing the entire payment method object with the new data provided.
        This API supports updates only for payment methods that are not stored.
        To update specific fields of a payment method (both stored or not), use the Update Payment Method Information (Patch) API instead.
      operationId: updatePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/updateCardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/updateTemporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/updatePermanentTokenPaymentMethodRequest'
              apple_pay_encrypted:
                $ref: '#/components/examples/applePayEncryptedPaymentMethodRequest'
              apple_pay_decrypted:
                $ref: '#/components/examples/applePayDecryptedPaymentMethodRequest'
              google_pay_encrypted:
                $ref: '#/components/examples/googlePayEncryptedPaymentMethodRequest'
              google_pay_decrypted:
                $ref: '#/components/examples/googlePayDecryptedPaymentMethodRequest'
      responses:
        '200':
          $ref: '#/components/responses/paymentMethodUpdateSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/paymentMethodNotFoundResponse'
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    patch:
      summary: Update Payment Method Information
      description: |
        Updates specific fields of a payment method identified by its Id. 
        This API supports updates for both stored and not stored payment methods.
      operationId: updatePaymentMethodInformation
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/updatePaymentMethodInformationRequest'
            examples:
              card:
                $ref: '#/components/examples/updatePaymentMethodInformationRequest'
      responses:
        '200':
          $ref: '#/components/responses/paymentMethodUpdateSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/paymentMethodNotFoundResponse'
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    delete:
      summary: Delete Payment Method
      description: Deletes a payment method.
      operationId: deletePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      responses:
        '204':
          $ref: '#/components/responses/paymentMethodDeleteSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/paymentMethodNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /refunds:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Refunds
      description: Returns a paginated list of refund operations.
      operationId: getRefunds
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listRefundsSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Refund
      description: |
        This operation is used to create a Refund. 
        For payment refunds, Payment Id is required while payment method is not required.
        For independent refunds, no payment Id is required, however payment method is required.
      operationId: createRefund
      security:
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRefundRequest'
            examples:
              matching:
                $ref: '#/components/examples/matchingRefundRequest'
      responses:
        '201':
          $ref: '#/components/responses/createRefundSuccessResponse'
        '400':
          $ref: '#/components/responses/createRefundBadRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/createRefundDeclinedResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /refunds/{refund-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/refundId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Refund
      description: Retrieve a refund by its Id.
      operationId: getRefundById
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      responses:
        '200':
          $ref: '#/components/responses/retrieveRefundSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/refundNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /validations:
    description: |
      set up a payment method for future payments. 
      Similar to a payment, but no charge is created.
      Useful when onboarding customers but not charging them right away.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Card Validations
      description: Returns a paginated list of the card validations the were executed.
      operationId: getValidations
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listValidationsSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Card Validation
      description: Initiate a new Card Validation request.
      operationId: createValidation
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createValidationRequest'
            examples:
              with_payment_method_id:
                $ref: '#/components/examples/validationWithPaymentMethodId'
              with_card_payment_method:
                $ref: '#/components/examples/validationWithCardPaymentMethod'
              with_temporary_token_payment_method:
                $ref: '#/components/examples/validationWithTemporaryTokenPaymentMethod'
              with_permanent_token_payment_method:
                $ref: '#/components/examples/validationWithPermanentTokenPaymentMethod'
              with_apple_pay_encrypted_payment_method:
                $ref: '#/components/examples/validationWithApplePayEncryptedPaymentMethod'
              with_apple_pay_decrypted_payment_method:
                $ref: '#/components/examples/validationWithApplePayDecryptedPaymentMethod'
              with_google_pay_encrypted_payment_method:
                $ref: '#/components/examples/validationWithGooglePayEncryptedPaymentMethod'
              with_google_pay_decrypted_payment_method:
                $ref: '#/components/examples/validationWithGooglePayDecryptedPaymentMethod'
      responses:
        '201':
          description: Validation request created successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation'
        '400':
          description: Failed Validation operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                invalid_request:
                  $ref: '#/components/examples/InvalidRequestErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          description: Failed Validation operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/exp-validationResponse_DeclineErrorResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /validations/{validation-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/validationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Card Validation.
      description: Retrieve a Card Validation by Id.
      operationId: getValidation
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      responses:
        '200':
          $ref: '#/components/responses/retrieveValidationSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/validationNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Create Subscription
      description: |-
        <p>This operation is used to create a Subscription.</p>
        <h4>
          <span>Webhooks</span>
        </h4>
        <details>
          <summary style="color: rgba(0, 113, 145, 1);">Webhook Definition Details</summary>
          <div class="collapsible">
            <div class="tabs">
              <div class="tab-label" style="background-color: #051D33; color: #FFFFFF;">application/json</div>
              <div class="tab-content" style="display: block;">
                <type-definition>
                  <h4 class="text-truncate flex-grow">Webhook Request Body</h4>
                  <p>
                  <p>This is the base definition for all event messages. It contains the common properties that are shared across all events.</p>
                  </p>
                  <div role="table" class="table-preset table-preset-schema" id="webhookRequestTable">
                    <div class="d-contents" role="rowgroup">
                      <div class="d-contents" role="row">
                        <div role="columnheader" class="table-preset-head text-truncate">
                          <span>
                            Name</span>
                        </div>
                        <div role="columnheader" class="table-preset-head text-truncate">
                          <span>
                            Required</span>
                        </div>
                        <div role="columnheader" class="table-preset-head text-truncate">
                          <span>Additional
                            Info</span>
                        </div>
                        <div role="columnheader" class="table-preset-head">
                          <span>
                            Description</span>
                        </div>
                      </div>
                    </div>
                    <div class="d-contents" role="rowgroup">
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="eventId">
                          eventId</div>
                        <div role="cell">
                          true</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Identifier of the triggered
                            event. Can be used
                            as an idempotency key to
                            detect duplicates.</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="eventType">
                          eventType</div>
                        <div role="cell">
                          true</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>This is a
                            list of all the types of
                            events we currently
                            send.</p>
                          <ul>
                            <li>RECURRING_PAYMENT_CONFIRMED: A payment transaction has been executed.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="occuredAt">
                          occuredAt</div>
                        <div role="cell">
                          true</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            date-time</a>
                        </div>
                        <div role="cell">
                          <p>the timestamp of when the event occurred (not
                            necessarily the same of when it was
                            delivered)</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="apiVersion">
                          apiVersion</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>The Moneris API Version used to
                            populate the event
                            payload.</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="objectId">
                          objectId</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Used to
                            identify API resources which
                            may be required for
                            future follow-on
                            transactions; i.e. Refunds,
                            Corrections,
                            Completions, Reversals,
                            etc.</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="href">
                          href</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Uniform
                            resource locator to retrieve
                            resource
                            details.</p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="correlationId">
                          correlationId</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace" title="string">
                            string</a>
                        </div>
                        <div role="cell">
                          <p>Correlation Id transmitted during the
                            original request.
                            This is useful to correlate between
                            multiple events corresponding to same
                            flow. </p>
                        </div>
                      </div>
                      <div class="d-contents" role="row">
                        <div role="cell" class="text-truncate" title="data">
                          data</div>
                        <div role="cell">
                          false</div>
                        <div role="cell" class="text-truncate">
                          <a class="text-monospace"
                            href="/api-details#api=moneris-api-2025-02-20-preview&operation=createPayments" title="payment">
                            payment</a>
                        </div>
                        <div role="cell">
                          <p>The Payment data associated with the
                            event.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <code-snippet id="webhookRequestDefinition" style="display: none;">
                    <h4></h4>
                    <div></div>
                    <div class="flex code-snippet code-snippet-bordered">
                      <div class="code-snippet-heading">
                        <span class="code-snippet-title">json</span>
                        <button class="code-snippet-command" aria-label="Copy to clipboard">
                          <i class="icon-emb icon-emb-duplicate"></i>
                          <span>Copy</span>
                        </button>
                      </div>
                    </div>
                    <pre>
        <span class="token punctuation">{</span>
          <span class="token property">"title"</span><span class="token operator">:</span> <span class="token string">"webhookRequest"</span><span class="token punctuation">,</span>
          <span class="token property">"required"</span><span class="token operator">:</span> <span class="token punctuation">[</span>
            <span class="token string">"eventId"</span><span class="token punctuation">,</span>
            <span class="token string">"eventType"</span><span class="token punctuation">,</span>
            <span class="token string">"occuredAt"</span><span class="token punctuation">,</span>
          <span class="token punctuation">]</span><span class="token punctuation">,</span>
          <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"object"</span><span class="token punctuation">,</span>
          <span class="token property">"properties"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
          <span class="token property">"eventId"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Unique Identifier for the Event."</span><span class="token punctuation">,</span>
            <span class="token property">"pattern"</span><span class="token operator">:</span> <span class="token string">"^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$"</span><span class="token punctuation">,</span>
            <span class="token property">"minLength"</span><span class="token operator">:</span> <span class="token string">30</span><span class="token punctuation">,</span>
            <span class="token property">"maxLength"</span><span class="token operator">:</span> <span class="token string">30</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">"ev0105ARZ3NDEKTSV4RRFFQ69G5FAV"</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"eventType"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"This is a list of all the types of events we currently send. RECURRING_PAYMENT_CONFIRMED"</span><span class="token punctuation">,</span>
            <span class="token property">"enum"</span><span class="token operator">:</span> <span class="token punctuation">[</span>
                <span class="token string">"RECURRING_PAYMENT_CONFIRMED"</span>
            <span class="token punctuation">]</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">RECURRING_PAYMENT_CONFIRMED</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"occuredAt"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Date & Time at which the event has occurred."</span><span class="token punctuation">,</span>
            <span class="token property">"format"</span><span class="token operator">:</span> <span class="token string">"date-time"</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">2025-02-17T18:00:00Z</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"apiVersion"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"The Moneris API Version used to populate the event payload."</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">2024-09-17</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"objectId"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Used to identify API resources which may be required for future follow-on transactions; i.e. Refunds, Corrections, Completions, Reversals, etc."</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">pi0105ARZ3NDEKTSV4RRFFQ69G5FAV</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"href"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Uniform resource locator to retrieve resource details"</span><span class="token punctuation">,</span>
            <span class="token property">"format"</span><span class="token operator">:</span> <span class="token string">"uri-reference"</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">/payments/pi0105ARZ3NDEKTSV4RRFFQ69G5FAV</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"correlationId"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"string"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Correlation Id transmitted during the original request."</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span><span class="token punctuation">,</span>
            <span class="token property">"example"</span><span class="token operator">:</span> <span class="token string">"f0d4c76f-f129-4b91-92a3-9a120829bbe5"</span><span class="token punctuation">,</span>
          <span class="token punctuation">}</span><span class="token punctuation">,</span>
          <span class="token property">"data"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
            <span class="token property">"type"</span><span class="token operator">:</span> <span class="token string">"object"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span> <span class="token string">"Full representation of the resource that triggered the event. For Payments, it will be the Payment object"</span><span class="token punctuation">,</span>
            <span class="token property">"nullable"</span><span class="token operator">:</span> <span class="token string">true</span>
          <span class="token punctuation">}</span>
        <span class="token punctuation">}</span>
        </pre>
                  </code-snippet>
                </type-definition>
              </div>
            </div>
            <h3><span>Response</span> <span
               >200 OK</span></h3>
            <p>
            <p>Webhook event processed successfully</p>
            </p>
            <h3><span>Response</span> <span
               >400 Bad Request</span></h3>
            <p>
            <p>An error has occured while processing webhook event</p>
            </p>
          </div>
        </details>
      operationId: createSubscriptions
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSubscriptionRequest'
            examples:
              subscriptionRequestWithImmediateInitialAmount:
                $ref: '#/components/examples/subscriptionRequestWithImmediateInitialAmount'
              dailyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/dailyPaymentRequestToStartAtbillingStartDate'
              weeklyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/weeklyPaymentRequestToStartAtbillingStartDate'
              biweeklyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/biweeklyPaymentRequestToStartAtbillingStartDate'
              monthlyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/monthlyPaymentRequestToStartAtbillingStartDate'
              endOfMonthPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/endOfMonthPaymentRequestToStartAtbillingStartDate'
      responses:
        '201':
          $ref: '#/components/responses/createSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    get:
      summary: List subscriptions
      description: Returns a paginated list of subscriptions.
      operationId: getSubscriptions
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listSubscriptionsResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
    get:
      summary: Retrieve Subscription
      description: Retrieve a Subscription details by Id
      operationId: getSubscription
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Subscriptions
      responses:
        '200':
          $ref: '#/components/responses/retrieveSubscriptionSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    patch:
      summary: Update Subscription
      description: |
        Update Subscription
      operationId: updateSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/updateSubscriptionDetails'
      responses:
        '200':
          $ref: '#/components/responses/updateSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/resume:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Resume Subscription
      description: |
        Resumes a subscription billing.
        While a transaction is on hold, it is not billed for the subscription amount.                 
        However, the number of remaining recurs continues to be decremented during that time.
      operationId: resumeSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resumeSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/resumeSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/pause:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Pause Subscription
      description: |
        Temporarily pauses subscription billing.
        While a transaction is on hold, it is not billed for the subscription amount.                 
        However, the number of remaining recurs continues to be decremented during that time.
      operationId: pauseSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pauseSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/pauseSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/cancel:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Cancel Subscription
      description: Cancel a Subscription.
      operationId: cancelSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/cancelSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/extend:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Extend Subscription
      description: |
        Adds the given number of subscription transactions to the current (remaining) number.

        This can be used if a customer decides to extend a membership/subscription. 
        However, because this must be a positive number, it cannot be used to decrease the current number of subscription transactions. 
        For that, use Update Subscription.
      operationId: extendSubscription
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extendSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/extendSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /customers:
    description: |
      This API allows to manage past and recurring customers.
      Very useful when tracking and managing charges belonging to the same customer.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Customers
      description: Returns a paginated list of customers.
      operationId: getCustomers
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listCustomersSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    post:
      summary: Create Customer
      description: This operation is used to created a new customer.
      operationId: createCustomers
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCustomerRequest'
      responses:
        '201':
          $ref: '#/components/responses/createCustomerSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /customers/{customer-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/customerId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Customer
      description: Retrieve a customer by their Id.
      operationId: getCustomer
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      responses:
        '200':
          $ref: '#/components/responses/retrieveCustomerSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/customerNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Update Customer
      description: Updates customer's details such as name, address etc...
      operationId: updateCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customerRequest'
      responses:
        '200':
          $ref: '#/components/responses/customerUpdateSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/customerNotFoundResponse'
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    delete:
      summary: Delete Customer
      description: Delete a customer by their Id
      operationId: deleteCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      responses:
        '204':
          $ref: '#/components/responses/customerDeleteSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/customerNotFoundResponse'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentications:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Create Authentication
      description: |
        This operation is used to create an Authentication request. 
        The authentication request is used to start the validation process of the card. 
        The result of this request determines whether 3DS is supported by the card and what type of authentication is required.
      operationId: createAuthentication
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticationRequest'
            examples:
              threeDSecureBrowserChannelWithPaymentMethodId:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithPaymentMethodId'
              threeDSecureBrowserChannelWithCardPaymentMethod:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithCardPaymentMethod'
              threeDSecureBrowserChannelWithTemporaryToken:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithTemporaryToken'
              threeDSecureBrowserChannelWithPermanentToken:
                $ref: '#/components/examples/threeDSecureBrowserChannelWithPermanentToken'
      responses:
        '201':
          $ref: '#/components/responses/createThreeDSecureAuthenticationSuccessResponse'
        '202':
          $ref: '#/components/responses/createThreeDSecureAuthenticationChallengeResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentications/{authentication-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/authenticationId'
    get:
      summary: Retrieve Authentication
      description: Retrieve an authentication by its authentication Id
      operationId: getAuthentication
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      responses:
        '200':
          $ref: '#/components/responses/retrieveThreeDSecureAuthenticationSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/authentication-value-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Authentication Value Lookup
      description: The point of the 3-D Secure flow is to verify that the true cardholder is a part of the authorization. The challenge flow is used to present a way of authenticating the cardholder using e.g. OTP or a federated identification method.
      operationId: authenticationValueLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lookupRequest'
      responses:
        '200':
          $ref: '#/components/responses/threeDSecureAuthenticationLookupSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /three-d-secure/card-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: 3DS Card Lookup
      operationId: cardLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cardLookupRequest'
      responses:
        '201':
          $ref: '#/components/responses/createThreeDSecureCardLookupSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
    post:
      summary: Create Kount Inquiry
      operationId: createKountInquiry
      security:
        - OAuth2:
            - kount.write
        - ApiKeyAuth: []
      tags:
        - Kount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kountInquiryRequest'
      responses:
        '201':
          $ref: '#/components/responses/createKountInquirySuccessResponse'
        '202':
          $ref: '#/components/responses/createKountInquiryAcceptedResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    get:
      summary: List Kount Inquiries
      operationId: getKountInquiries
      security:
        - OAuth2:
            - kount.read
        - ApiKeyAuth: []
      tags:
        - Kount
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listKountInquiriesSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries/{kount-inquiry-id}:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/kountInquiryId'
    get:
      summary: Get Kount Inquiry by Id
      operationId: getKountInquiryById
      security:
        - OAuth2:
            - kount.read
        - ApiKeyAuth: []
      tags:
        - Kount
      responses:
        '200':
          $ref: '#/components/responses/retrieveKountInquiryResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /kount-inquiries/{kount-inquiry-id}/assert:
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/kountInquiryId'
    post:
      summary: Kount Inquiry Assert
      operationId: kountInquiryAssert
      security:
        - OAuth2:
            - kount.write
        - ApiKeyAuth: []
      tags:
        - Kount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kountAssertRequest'
      responses:
        '200':
          $ref: '#/components/responses/assertKountInquirySuccessResponse'
        '202':
          $ref: '#/components/responses/assertKountInquiryAcceptedResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /installments/plans:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Installment Plan Lookup
      description: Returns list of installment plans the cardholder is eligible for.
      operationId: installmentLookup
      tags:
        - Installments
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      requestBody:
        description: Installment Plan Lookup request"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/installmentEligibilityRequest'
      responses:
        '200':
          $ref: '#/components/responses/installmentLookupResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /surcharge-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Surcharge Lookup
      description: Performs surcharge lookup and determines if payment method is eligible or not and provides max rate and max amount if eligible.
      operationId: surchargeLookUp
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Surcharge Lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurchargeEligibilityRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac1
              amount:
                amount: 16000
                currency: CAD
              paymentMethod:
                paymentMethodSource: CARD
                card:
                  cardNumber: '4444111122223333'
                  expiryMonth: 1
                  expiryYear: 2025
                  cardSecurityCode: '123'
      responses:
        '200':
          $ref: '#/components/responses/SurchargeEligibilitySuccessfulResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /multi-currency-pricing-rates:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Multi-Currency Pricing Rate Lookup
      description: |
        Performs a foreign currency exchange rate look-up, and secures that exchange rate for use in a subsequent Multi-Currency Pricing financial transaction. 
        The exchange rate retrieved by this transaction request is represented in the response as the multiCurrencyPricingRateLookupId, and the underlying exchange rate is locked in for a limited time period.
      operationId: mcpRate
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Multi-Currency Pricing Rate Lookup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/multiCurrencyPricingRateLookupRequest'
      responses:
        '207':
          $ref: '#/components/responses/multiCurrencyPricingRateLookup'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /multi-currency-pricing-rates/{multi-currency-pricing-rate-lookup-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/multiCurrencyPricingRateLookupId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Multi-Currency Pricing Rate by Id.
      description: Retrieve Multi-Currency Pricing Rate results by Id.
      operationId: getMultiCurrencyPricingRateById
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Multi-Currency Pricing Rate Lookup
      responses:
        '200':
          $ref: '#/components/responses/multiCurrencyPricingRateLookup'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /onboarding/merchants:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
    post:
      summary: Create Merchant
      description: Submit a merchant payload to create a merchant
      operationId: createMerchant
      security:
        - OAuth2:
            - onboarding.merchant.write
        - ApiKeyAuth: []
      tags:
        - Merchant Onboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createMerchantRequest'
      responses:
        '201':
          description: Successful response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
            Location:
              $ref: '#/components/headers/location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant'
              example:
                merchantId: '0030211900875'
                businessDetails:
                  isSeasonalMerchant: false
                  merchantCategoryCode: '0742'
                  averageTicketSize: 3
                  directSellingPercentage: 86
                  motoTransactionPercentage: 14
                  ecommerceTransactionPercentage: 0
                  businessUrl: https://www.test.io
                  serviceProvider: moneris.com
                  serviceDeliverToCanadaAvailable: true
                  serviceDeliverToUSAvailable: true
                  creditTransactionVolume: 250000
                  masterCardTransactionVolume: 100000
                  visaTransactionVolume: 100000
                  visaDebitTransactionVolume: 0
                  amexTransactionVolume: 25000
                  interacTransactionVolume: 50000
                  interacDirectTransactionVolume: 40000
                  masterCardDebitTransactionVolume: 0
                  offeredProductsAndServicesDescription: food
                merchantDetails:
                  contactInformation:
                    firstName: Joe
                    lastName: Test
                    phone: '+11234567890'
                  merchantInformation:
                    cardholderName: Joe Test
                    language: en
                    legalName: Joe
                    operatingAsName: Joe OPS
                    yearsOfOwnership: 3
                    monthsOfOwnership: 2
                    customerServicePhoneNumber: '+11234567890'
                    email: qa-test@moneris.com
                    merchantType: NATIONAL
                  locationAddress:
                    postalCode: M5T2G2
                    city: TORONTO
                    province: 'ON'
                    streetName: SPADINA AVE
                    country: CA
                businessActivity:
                  dropShipping: true
                securityDetails:
                  legalEntity:
                    businessType: PRIVATE_CORPORATION
                  signingOfficers:
                    - signingOfficerIdentifier: 1234
                      dateOfBirth: '1980-01-01'
                      creditReportAllowed: true
                      firstName: DOMEMIC
                      lastName: TESTPOTKIDIS
                      address:
                        postalCode: K1M1N8
                        city: OTTAWA
                        province: 'ON'
                        streetName: STANLEY
                        country: CA
                      ownershipPercentage: 100
                      title: VICE_PRESIDENT
                riskDetails:
                  merchantRiskRate: A_PLUS
                pointOfSaleOptions:
                  settlementOption: MERCHANT_CLOSE
                  settlementTime: '23:00:00'
                  debitPerTransactionRefundLimit:
                    amount: 0
                    currency: CAD
                  dailyRefundLimit:
                    amount: 0
                    currency: CAD
                  dailyCancellationLimit:
                    amount: 0
                    currency: CAD
                bankingDetails:
                  creditDepositAccount:
                    currency: CAD
                    institutionNumber: '00809'
                    transitNumber: '00160'
                    otherFinancialInstitutionCode: '23232'
                    accountNumber: '3333333333'
                  additionalBankingAccounts: []
                chainId: '0030600062664'
                createdAt: '2025-01-01T00:00:00Z'
                modifiedAt: '2025-01-01T00:00:00Z'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /onboarding/merchants/{merchant-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-merchants_merchantId'
    get:
      summary: Get the details of a Merchant
      operationId: getMerchantDetailsByMerchantId
      tags:
        - Merchant Onboarding
      description: |
        Get merchant details by ID
      security:
        - OAuth2:
            - onboarding.merchant.read
        - OAuth2:
            - onboarding.merchant.write
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response corresponding to the provided merchant id parameter
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant'
              example:
                merchantId: '0030211900875'
                businessDetails:
                  isSeasonalMerchant: false
                  merchantCategoryCode: '0742'
                  averageTicketSize: 3
                  directSellingPercentage: 86
                  motoTransactionPercentage: 14
                  ecommerceTransactionPercentage: 0
                  businessUrl: https://www.test.io
                  serviceProvider: moneris.com
                  serviceDeliverToCanadaAvailable: true
                  serviceDeliverToUSAvailable: true
                  creditTransactionVolume: 250000
                  masterCardTransactionVolume: 100000
                  visaTransactionVolume: 100000
                  visaDebitTransactionVolume: 0
                  amexTransactionVolume: 25000
                  interacTransactionVolume: 50000
                  interacDirectTransactionVolume: 40000
                  masterCardDebitTransactionVolume: 0
                  offeredProductsAndServicesDescription: food
                merchantDetails:
                  contactInformation:
                    firstName: Joe
                    lastName: Test
                    phone: '+11234567890'
                  merchantInformation:
                    cardholderName: Joe Test
                    language: en
                    legalName: Joe
                    operatingAsName: Joe OPS
                    yearsOfOwnership: 3
                    monthsOfOwnership: 2
                    customerServicePhoneNumber: '+11234567890'
                    email: qa-test@moneris.com
                    merchantType: NATIONAL
                  locationAddress:
                    postalCode: M5T2G2
                    city: TORONTO
                    province: 'ON'
                    streetName: SPADINA AVE
                    country: CA
                businessActivity:
                  dropShipping: true
                securityDetails:
                  legalEntity:
                    businessType: PRIVATE_CORPORATION
                  signingOfficers:
                    - signingOfficerIdentifier: 1234
                      dateOfBirth: '1980-01-01'
                      creditReportAllowed: true
                      firstName: DOMEMIC
                      lastName: TESTPOTKIDIS
                      address:
                        postalCode: K1M1N8
                        city: OTTAWA
                        province: 'ON'
                        streetName: STANLEY
                        country: CA
                      ownershipPercentage: 100
                      title: VICE_PRESIDENT
                riskDetails:
                  merchantRiskRate: A_PLUS
                pointOfSaleOptions:
                  settlementOption: MERCHANT_CLOSE
                  settlementTime: '23:00:00'
                  debitPerTransactionRefundLimit:
                    amount: 0
                    currency: CAD
                  dailyRefundLimit:
                    amount: 0
                    currency: CAD
                  dailyCancellationLimit:
                    amount: 0
                    currency: CAD
                bankingDetails:
                  creditDepositAccount:
                    currency: CAD
                    institutionNumber: '00809'
                    transitNumber: '00160'
                    otherFinancialInstitutionCode: '23232'
                    accountNumber: '3333333333'
                  additionalBankingAccounts: []
                chainId: '0030600062664'
                createdAt: '2025-01-01T00:00:00Z'
                modifiedAt: '2025-01-01T00:00:00Z'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Update Merchant
      operationId: updateMerchant
      security:
        - OAuth2:
            - onboarding.merchant.write
        - ApiKeyAuth: []
      tags:
        - Merchant Onboarding
      description: |
        Update merchant based on the supplied payload.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/merchantPayload'
      responses:
        '200':
          description: Successful response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant'
              example:
                merchantId: '0030211900875'
                businessDetails:
                  isSeasonalMerchant: false
                  merchantCategoryCode: '0742'
                  averageTicketSize: 3
                  directSellingPercentage: 86
                  motoTransactionPercentage: 14
                  ecommerceTransactionPercentage: 0
                  businessUrl: https://www.test.io
                  serviceProvider: moneris.com
                  serviceDeliverToCanadaAvailable: true
                  serviceDeliverToUSAvailable: true
                  creditTransactionVolume: 250000
                  masterCardTransactionVolume: 100000
                  visaTransactionVolume: 100000
                  visaDebitTransactionVolume: 0
                  amexTransactionVolume: 25000
                  interacTransactionVolume: 50000
                  interacDirectTransactionVolume: 40000
                  masterCardDebitTransactionVolume: 0
                  offeredProductsAndServicesDescription: food
                merchantDetails:
                  contactInformation:
                    firstName: Joe
                    lastName: Test
                    phone: '+11234567890'
                  merchantInformation:
                    cardholderName: Joe Test
                    language: en
                    legalName: Joe
                    operatingAsName: Joe OPS
                    yearsOfOwnership: 3
                    monthsOfOwnership: 2
                    customerServicePhoneNumber: '+11234567890'
                    email: qa-test@moneris.com
                    merchantType: NATIONAL
                  locationAddress:
                    postalCode: M5T2G2
                    city: TORONTO
[...]
