{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.1",
    "title": "API de Moneris",
    "description": "Plateforme des API de Moneris\n\n[<img src=\"https://run.pstmn.io/button.svg\" alt=\"Run In Postman\" style=\"width: 128px; height:32px;\">](https://god.gw.postman.com/run-collection/25575461-ab82f3e6-bc3e-471e-bbf5-3875f1616ef9?action=collection%2Ffork&collection-url=entityId%3D25575461-ab82f3e6-bc3e-471e-bbf5-3875f1616ef9%26entityType%3Dcollection%26workspaceId%3D5d2a9a0f-57a7-441c-b2af-fe6315e80a08)\n",
    "termsOfService": "https://www.moneris.com/fr-ca/juridiques/conditions-utilisation",
    "contact": {
      "url": "https://api-developer.moneris.com",
      "email": "UnifiedAPI@moneris.com"
    },
    "license": {
      "name": "Moneris",
      "url": "https://developer.moneris.com/Agreements/Terms%20of%20Use"
    },
    "x-audience": "external-public"
  },
  "servers": [
    {
      "url": "https://api.moneris.io",
      "description": "Production server (uses live data)"
    },
    {
      "url": "https://api.sb.moneris.io",
      "description": "Sandbox server (uses test data)"
    }
  ],
  "paths": {
    "/payments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Liste des paiements",
        "description": "Renvoie une liste paginée de paiements.",
        "operationId": "getPayments",
        "security": [
          {
            "OAuth2": [
              "payment.read"
            ]
          },
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Paiements"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageBeforeCursor"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/createdFrom"
          },
          {
            "$ref": "#/components/parameters/createdTo"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste de tous les paiements",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentResponseList"
                },
                "example": {
                  "data": [
                    {
                      "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "merchantId": "0123456789101",
                      "orderId": "1q2w3e4r5t6t78",
                      "invoiceNumber": "1a2s3d45v6",
                      "transactionDateTime": "2019-07-30T06:43:40.252Z",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "amount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "authorizedAmount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "capturableAmount": {
                        "amount": 0,
                        "currency": "CAD"
                      },
                      "amountDetails": {
                        "subTotalAmount": {
                          "amount": 14000,
                          "currency": "CAD"
                        },
                        "tipAmount": {
                          "amount": 150,
                          "currency": "CAD"
                        }
                      },
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMethod": {
                        "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": null,
                        "contactDetails": null,
                        "billingAddress": null,
                        "paymentMethodType": "CARD",
                        "paymentMethodInformation": {
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2025,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778"
                        },
                        "paymentMethodStored": "DO_NOT_STORE",
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": null,
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "paymentStatus": "SUCCEEDED",
                      "transactionDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": 0,
                        "responseCode": 1,
                        "message": "approved",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "checkResults": {
                        "addressVerificationServiceResultCode": "M",
                        "cardSecurityCodeResultCode": "MATCH",
                        "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                      },
                      "cardOnFileResponse": null,
                      "refunds": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    },
                    {
                      "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAZ",
                      "merchantId": "0123456789101",
                      "orderId": "1q2w3e4r5t6t78",
                      "invoiceNumber": "1a2s3d45v6",
                      "transactionDateTime": "2019-07-30T06:43:40.252Z",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "amount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "authorizedAmount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "capturableAmount": {
                        "amount": 0,
                        "currency": "CAD"
                      },
                      "amountDetails": {
                        "subTotalAmount": {
                          "amount": 14000,
                          "currency": "CAD"
                        },
                        "tipAmount": {
                          "amount": 150,
                          "currency": "CAD"
                        }
                      },
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMethod": {
                        "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": null,
                        "contactDetails": null,
                        "billingAddress": null,
                        "paymentMethodType": "CARD",
                        "paymentMethodInformation": {
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2025,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778"
                        },
                        "paymentMethodStored": "DO_NOT_STORE",
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": null,
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "paymentStatus": "CANCELED",
                      "transactionDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": 0,
                        "responseCode": 1,
                        "message": "approved",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "checkResults": {
                        "addressVerificationServiceResultCode": "M",
                        "cardSecurityCodeResultCode": "MATCH",
                        "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                      },
                      "cardOnFileResponse": null,
                      "refunds": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    },
                    {
                      "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAX",
                      "merchantId": "0123456789101",
                      "orderId": "1q2w3e4r5t6t78",
                      "invoiceNumber": "1a2s3d45v6",
                      "transactionDateTime": "2019-07-30T06:43:40.252Z",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "amount": {
                        "amount": 16000,
                        "currency": "CAD"
                      },
                      "authorizedAmount": {
                        "amount": 0,
                        "currency": "CAD"
                      },
                      "capturableAmount": {
                        "amount": 0,
                        "currency": "CAD"
                      },
                      "amountDetails": {
                        "subTotalAmount": {
                          "amount": 14000,
                          "currency": "CAD"
                        },
                        "tipAmount": {
                          "amount": 150,
                          "currency": "CAD"
                        }
                      },
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMethod": {
                        "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": null,
                        "contactDetails": null,
                        "billingAddress": null,
                        "paymentMethodType": "CARD",
                        "paymentMethodInformation": {
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2025,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778"
                        },
                        "paymentMethodStored": "DO_NOT_STORE",
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": null,
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "paymentStatus": "DECLINED",
                      "transactionDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": 421,
                        "responseCode": 43,
                        "message": "Stolen card, pick up.",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "checkResults": {
                        "addressVerificationServiceResultCode": "M",
                        "cardSecurityCodeResultCode": "MATCH",
                        "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                      },
                      "cardOnFileResponse": null,
                      "refunds": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    }
                  ],
                  "self": "/payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "first": "/payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "last": "/payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "next\"": null,
                  "previous": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidListbadRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      },
      "post": {
        "summary": "Créer un paiement",
        "description": "Cette opération est utilisée pour initier un paiement.",
        "operationId": "createPayments",
        "security": [
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Paiements"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPaymentRequest"
              },
              "examples": {
                "regularPurchaseWithPaymentMethodId": {
                  "$ref": "#/components/examples/regularPurchaseWithPaymentMethodId"
                },
                "regularPurchaseWithPaymentMethod": {
                  "$ref": "#/components/examples/regularPurchaseWithPaymentMethod"
                },
                "preAuthorizationWithPaymentMethodId": {
                  "$ref": "#/components/examples/preAuthorizationWithPaymentMethodId"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Opération de paiement créée avec succès.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentResponse"
                },
                "examples": {
                  "PurchaseCompleted": {
                    "$ref": "#/components/examples/PurchaseCompletedResponse"
                  },
                  "PreauthorizationCompletedResponse": {
                    "$ref": "#/components/examples/PreauthorizationCompletedResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Réponse du résultat de l’opération de paiement échoué",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "examples": {
                  "declined": {
                    "$ref": "#/components/examples/DeclineErrorResponse"
                  },
                  "invalid_request": {
                    "$ref": "#/components/examples/InvalidRequestErrorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/payments/{payment-id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/paymentId"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Récupérer le paiement",
        "description": "Récupérer un paiement à l’aide de son ID de paiement",
        "operationId": "getPayment",
        "security": [
          {
            "OAuth2": [
              "payment.read"
            ]
          },
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Paiements"
        ],
        "responses": {
          "200": {
            "description": "Le paiement correspondant à l''identifiant de paiement fourni.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentResponse"
                },
                "examples": {
                  "succeeded": {
                    "$ref": "#/components/examples/PurchaseCompletedResponse"
                  },
                  "authorized": {
                    "$ref": "#/components/examples/PreauthorizationCompletedResponse"
                  },
                  "declined": {
                    "$ref": "#/components/examples/PurchaseDeclinedResponse"
                  },
                  "declined_retry": {
                    "$ref": "#/components/examples/PurchaseDeclinedRetryResponse"
                  },
                  "canceled": {
                    "$ref": "#/components/examples/PurchaseCanceledResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/payments/{payment-id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/paymentId"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "post": {
        "summary": "Annuler le paiement",
        "description": "Annuler un paiement. Cette opération peut ne pas être possible si le paiement a été effectué.",
        "operationId": "cancelPayment",
        "security": [
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Paiements"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cancelPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le paiement a été annulé avec succès.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentResponse"
                },
                "example": {
                  "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "0123456789101",
                  "orderId": "1q2w3e4r5t6t78",
                  "invoiceNumber": "1a2s3d45v6",
                  "transactionDateTime": "2019-07-30T06:43:40.252Z",
                  "createdAt": "2019-07-30T06:43:40.252Z",
                  "modifiedAt": "2019-07-30T06:43:40.252Z",
                  "amount": {
                    "amount": 16000,
                    "currency": "CAD"
                  },
                  "authorizedAmount": {
                    "amount": 16000,
                    "currency": "CAD"
                  },
                  "capturableAmount": {
                    "amount": 0,
                    "currency": "CAD"
                  },
                  "amountDetails": {
                    "subTotalAmount": {
                      "amount": 14000,
                      "currency": "CAD"
                    },
                    "tipAmount": {
                      "amount": 150,
                      "currency": "CAD"
                    }
                  },
                  "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "paymentMethod": {
                    "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                    "merchantId": "0123456789101",
                    "cardholderInformation": null,
                    "contactDetails": null,
                    "billingAddress": null,
                    "paymentMethodType": "CARD",
                    "paymentMethodInformation": {
                      "cardInformation": {
                        "bankIdentificationNumber": "123456",
                        "lastFour": "1234",
                        "expiryMonth": 1,
                        "expiryYear": 2025,
                        "cardBrand": "MASTERCARD",
                        "cardType": "CREDIT",
                        "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                        "issuer": "RBC"
                      },
                      "paymentAccountReference": "11112222333344445555666677778"
                    },
                    "paymentMethodStored": "DO_NOT_STORE",
                    "createdAt": "2019-07-30T06:43:40.252Z",
                    "modifiedAt": null,
                    "customData": {
                      "property1": "string",
                      "property2": "string"
                    }
                  },
                  "paymentStatus": "CANCELED",
                  "transactionDetails": {
                    "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                    "isoResponseCode": 0,
                    "responseCode": 1,
                    "message": "approved",
                    "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                  },
                  "checkResults": {
                    "addressVerificationServiceResultCode": "M",
                    "cardSecurityCodeResultCode": "MATCH",
                    "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                  },
                  "cardOnFileResponse": null,
                  "refunds": null,
                  "customData": {
                    "property1": "string",
                    "property2": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Échec de l’annulation Réponse du résultat de l’opération de paiement",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "examples": {
                  "declined": {
                    "$ref": "#/components/examples/DeclineErrorResponse"
                  },
                  "invalid_request": {
                    "$ref": "#/components/examples/InvalidPurchaseErrorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/payments/{payment-id}/complete": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/paymentId"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "post": {
        "summary": "Paiement complet",
        "description": "Cela permettra de saisir efficacement un paiement qui a été autorisé.",
        "operationId": "completePayment",
        "security": [
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Paiements"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/completionRequest"
              },
              "example": {
                "idempotencyKey": "5d8f812e-9969-4885-85bb-d03948eccac2",
                "invoiceNumber": "1a2s3d45v6",
                "customData": {
                  "property1": "string",
                  "property2": "string"
                },
                "amount": {
                  "amount": 16000,
                  "currency": "CAD"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le paiement s’est terminé avec succès.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentResponse"
                },
                "example": {
                  "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "0123456789101",
                  "orderId": "1q2w3e4r5t6t78",
                  "invoiceNumber": "1a2s3d45v6",
                  "transactionDateTime": "2019-07-30T06:43:40.252Z",
                  "createdAt": "2019-07-30T06:43:40.252Z",
                  "modifiedAt": "2019-07-30T06:43:40.252Z",
                  "amount": {
                    "amount": 16000,
                    "currency": "CAD"
                  },
                  "authorizedAmount": {
                    "amount": 16000,
                    "currency": "CAD"
                  },
                  "capturableAmount": {
                    "amount": 0,
                    "currency": "CAD"
                  },
                  "amountDetails": {
                    "subTotalAmount": {
                      "amount": 14000,
                      "currency": "CAD"
                    },
                    "tipAmount": {
                      "amount": 150,
                      "currency": "CAD"
                    }
                  },
                  "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "paymentMethod": {
                    "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                    "merchantId": "0123456789101",
                    "cardholderInformation": null,
                    "contactDetails": null,
                    "billingAddress": null,
                    "paymentMethodType": "CARD",
                    "paymentMethodInformation": {
                      "cardInformation": {
                        "bankIdentificationNumber": "123456",
                        "lastFour": "1234",
                        "expiryMonth": 1,
                        "expiryYear": 2025,
                        "cardBrand": "MASTERCARD",
                        "cardType": "CREDIT",
                        "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                        "issuer": "RBC"
                      },
                      "paymentAccountReference": "11112222333344445555666677778"
                    },
                    "paymentMethodStored": "DO_NOT_STORE",
                    "createdAt": "2019-07-30T06:43:40.252Z",
                    "modifiedAt": null,
                    "customData": {
                      "property1": "string",
                      "property2": "string"
                    }
                  },
                  "paymentStatus": "SUCCEEDED",
                  "transactionDetails": {
                    "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                    "isoResponseCode": 0,
                    "responseCode": 1,
                    "message": "approved",
                    "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                  },
                  "checkResults": {
                    "addressVerificationServiceResultCode": "M",
                    "cardSecurityCodeResultCode": "MATCH",
                    "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                  },
                  "cardOnFileResponse": null,
                  "refunds": null,
                  "customData": {
                    "property1": "string",
                    "property2": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Echec de l’achat",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "examples": {
                  "declined": {
                    "$ref": "#/components/examples/DeclineErrorResponse"
                  },
                  "invalid_request": {
                    "$ref": "#/components/examples/InvalidPurchaseErrorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/payment-methods": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Répertorier les modes de paiement",
        "description": "Récupère une liste paginée des modes de paiement.",
        "operationId": "getPaymentMethods",
        "security": [
          {
            "OAuth2": [
              "payment.read"
            ]
          },
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Modes de paiements"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageBeforeCursor"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/createdFrom"
          },
          {
            "$ref": "#/components/parameters/createdTo"
          },
          {
            "$ref": "#/components/parameters/isExpiring"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste paginée des modes de paiement",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentMethodResponseList"
                },
                "example": {
                  "data": [
                    {
                      "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "merchantId": "0123456789101",
                      "cardholderInformation": null,
                      "contactDetails": null,
                      "billingAddress": null,
                      "paymentMethodType": "CARD",
                      "paymentMethodInformation": {
                        "cardInformation": {
                          "bankIdentificationNumber": "123456",
                          "lastFour": "1234",
                          "expiryMonth": 1,
                          "expiryYear": 2023,
                          "cardBrand": "MASTERCARD",
                          "cardType": "CREDIT",
                          "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                          "issuer": "RBC"
                        },
                        "paymentAccountReference": "11112222333344445555666677778"
                      },
                      "paymentMethodStored": "DO_NOT_STORE",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    },
                    {
                      "paymentMethodId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "merchantId": "0123456789101",
                      "cardholderInformation": {
                        "cardholderName": "John Doe",
                        "companyName": "SP Ltd"
                      },
                      "contactDetails": {
                        "phoneNumber": "1-866-319-7450",
                        "email": "moneris@moneris.com"
                      },
                      "billingAddress": {
                        "unitNumber": "123A",
                        "streetNumber": "3300",
                        "streetName": "Bloor Street West",
                        "city": "Toronto",
                        "province": "Ontario",
                        "postalCode": "M8X 2X2",
                        "country": "CA"
                      },
                      "paymentMethodType": "TEMPORARY_TOKEN",
                      "paymentMethodInformation": {
                        "cardInformation": {
                          "bankIdentificationNumber": "123456",
                          "lastFour": "1234",
                          "expiryMonth": 1,
                          "expiryYear": 2023,
                          "cardBrand": "MASTERCARD",
                          "cardType": "CREDIT",
                          "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                          "issuer": "RBC"
                        },
                        "paymentAccountReference": "11112222333344445555666677778"
                      },
                      "paymentMethodStored": "DO_NOT_STORE",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    }
                  ],
                  "self": "/payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "first": "/payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "last": "/payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "next\"": null,
                  "previous": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidListbadRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      },
      "post": {
        "summary": "Créer un mode de paiement",
        "description": "Créez un mode de paiement.",
        "operationId": "createPaymentMethod",
        "security": [
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Modes de paiements"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPaymentMethodRequest"
              },
              "examples": {
                "card": {
                  "$ref": "#/components/examples/cardPaymentMethodRequest"
                },
                "temporary_token": {
                  "$ref": "#/components/examples/temporaryTokenPaymentMethodRequest"
                },
                "permanent_token": {
                  "$ref": "#/components/examples/permanentTokenPaymentMethodRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mode de paiement créé avec succès.  Le contenu de la réponse contient le mode de paiement créé.\n",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentMethodResponse"
                },
                "example": {
                  "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "0123456789101",
                  "cardholderInformation": {
                    "cardholderName": "John Doe",
                    "companyName": "SP Ltd"
                  },
                  "contactDetails": {
                    "phoneNumber": "1-866-319-7450",
                    "email": "moneris@moneris.com"
                  },
                  "billingAddress": {
                    "unitNumber": "123A",
                    "streetNumber": "3300",
                    "streetName": "Bloor Street West",
                    "city": "Toronto",
                    "province": "Ontario",
                    "postalCode": "M8X 2X2",
                    "country": "CA"
                  },
                  "paymentMethodType": "CARD",
                  "paymentMethodInformation": {
                    "cardInformation": {
                      "bankIdentificationNumber": "123456",
                      "lastFour": "1234",
                      "expiryMonth": 1,
                      "expiryYear": 2023,
                      "cardBrand": "MASTERCARD",
                      "cardType": "CREDIT",
                      "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                      "issuer": "RBC"
                    },
                    "paymentAccountReference": "11112222333344445555666677778"
                  },
                  "paymentMethodStored": "DO_NOT_STORE",
                  "createdAt": "2019-07-30T06:43:40.252Z",
                  "modifiedAt": "2019-07-30T06:43:40.252Z",
                  "customData": {
                    "property1": "string",
                    "property2": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/payment-methods/{payment-method-id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/paymentMethodId"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Récupérer le mode de paiement",
        "description": "Récupérer un mode de paiement par ID",
        "operationId": "getPaymentMethod",
        "security": [
          {
            "OAuth2": [
              "payment.read"
            ]
          },
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Modes de paiements"
        ],
        "responses": {
          "200": {
            "description": "Mode de paiement trouvé et renvoyé dans la réponse.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentMethodResponse"
                },
                "example": {
                  "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "0123456789101",
                  "cardholderInformation": {
                    "cardholderName": "John Doe",
                    "companyName": "SP Ltd"
                  },
                  "contactDetails": {
                    "phoneNumber": "1-866-319-7450",
                    "email": "moneris@moneris.com"
                  },
                  "billingAddress": {
                    "unitNumber": "123A",
                    "streetNumber": "3300",
                    "streetName": "Bloor Street West",
                    "city": "Toronto",
                    "province": "Ontario",
                    "postalCode": "M8X 2X2",
                    "country": "CA"
                  },
                  "paymentMethodType": "CARD",
                  "paymentMethodInformation": {
                    "cardInformation": {
                      "bankIdentificationNumber": "123456",
                      "lastFour": "1234",
                      "expiryMonth": 1,
                      "expiryYear": 2023,
                      "cardBrand": "MASTERCARD",
                      "cardType": "CREDIT",
                      "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                      "issuer": "RBC"
                    },
                    "paymentAccountReference": "11112222333344445555666677778"
                  },
                  "paymentMethodStored": "DO_NOT_STORE",
                  "createdAt": "2019-07-30T06:43:40.252Z",
                  "modifiedAt": "2019-07-30T06:43:40.252Z",
                  "customData": {
                    "property1": "string",
                    "property2": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Mode de paiement introuvable.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": {
                  "type": "https://developer.moneris.com/en/More/Testing/Response%20Codes",
                  "title": "NOT_FOUND",
                  "status": 404,
                  "detail": null,
                  "instance": "/payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "category": "INVALID_REQUEST_ERROR",
                  "errors": []
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      },
      "put": {
        "summary": "Mettre à jour le mode de paiement",
        "description": "Mettre à jour le mode de paiement référencé par son Id. \nCertaines informations peuvent ne pas être mises à jour si le mode de paiement a été utilisé dans une transaction.\n",
        "operationId": "updatePaymentMethod",
        "security": [
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Modes de paiements"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updatePaymentMethodRequest"
              },
              "examples": {
                "card": {
                  "$ref": "#/components/examples/updateCardPaymentMethodRequest"
                },
                "temporary_token": {
                  "$ref": "#/components/examples/updateTemporaryTokenPaymentMethodRequest"
                },
                "permanent_token": {
                  "$ref": "#/components/examples/updatePermanentTokenPaymentMethodRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mettre à jour le mode de paiement",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentMethodResponse"
                },
                "example": {
                  "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "0123456789101",
                  "cardholderInformation": {
                    "cardholderName": "John Doe",
                    "companyName": "SP Ltd"
                  },
                  "contactDetails": {
                    "phoneNumber": "1-866-319-7450",
                    "email": "moneris@moneris.com"
                  },
                  "billingAddress": {
                    "unitNumber": "123A",
                    "streetNumber": "3300",
                    "streetName": "Bloor Street West",
                    "city": "Toronto",
                    "province": "Ontario",
                    "postalCode": "M8X 2X2",
                    "country": "CA"
                  },
                  "paymentMethodType": "CARD",
                  "paymentMethodInformation": {
                    "cardInformation": {
                      "bankIdentificationNumber": "123456",
                      "lastFour": "1234",
                      "expiryMonth": 1,
                      "expiryYear": 2023,
                      "cardBrand": "MASTERCARD",
                      "cardType": "CREDIT",
                      "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                      "issuer": "RBC"
                    },
                    "paymentAccountReference": "11112222333344445555666677778"
                  },
                  "paymentMethodStored": "DO_NOT_STORE",
                  "createdAt": "2019-07-30T06:43:40.252Z",
                  "modifiedAt": "2019-07-30T06:43:40.252Z",
                  "customData": {
                    "property1": "string",
                    "property2": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Mode de paiement introuvable.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": {
                  "type": "https://developer.moneris.com/en/More/Testing/Response%20Codes",
                  "title": "NOT_FOUND",
                  "status": 404,
                  "detail": null,
                  "instance": "/payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "category": "INVALID_REQUEST_ERROR",
                  "errors": []
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/concurrencyConflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      },
      "delete": {
        "summary": "Supprimer le mode de paiement",
        "description": "Supprime un mode de paiement.",
        "operationId": "deletePaymentMethod",
        "security": [
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Modes de paiements"
        ],
        "responses": {
          "204": {
            "description": "Le mode de paiement a été supprimé avec succès. \nLe contenu de la réponse contient les détails du mode de paiement.\n",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Mode de paiement introuvable.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": {
                  "type": "https://developer.moneris.com/en/More/Testing/Response%20Codes",
                  "title": "NOT_FOUND",
                  "status": 404,
                  "detail": null,
                  "instance": "/payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "category": "INVALID_REQUEST_ERROR",
                  "errors": []
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/refunds": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Liste des remboursements",
        "description": "Renvoie une liste paginée des opérations de remboursement.",
        "operationId": "getRefunds",
        "security": [
          {
            "OAuth2": [
              "refund.read"
            ]
          },
          {
            "OAuth2": [
              "refund.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Remboursements"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageBeforeCursor"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/createdFrom"
          },
          {
            "$ref": "#/components/parameters/createdTo"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste de remboursement renvoyée avec succès.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refundResponseList"
                },
                "example": {
                  "data": [
                    {
                      "refundId": "ri0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "merchantId": "0123456789101",
                      "paymentMethod": {
                        "paymentMethodId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": {
                          "cardholderName": "John Doe",
                          "companyName": "SP Ltd"
                        },
                        "contactDetails": {
                          "phoneNumber": "1-866-319-7450",
                          "email": "moneris@moneris.com"
                        },
                        "billingAddress": {
                          "unitNumber": "123A",
                          "streetNumber": "3300",
                          "streetName": "Bloor Street West",
                          "city": "Toronto",
                          "province": "Ontario",
                          "postalCode": "M8X 2X2",
                          "country": "CA"
                        },
                        "paymentMethodType": "CARD",
                        "paymentMethodInformation": {
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2023,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778"
                        },
                        "paymentMethodStored": "DO_NOT_STORE",
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": "2019-07-30T06:43:40.252Z",
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "refundAmount": {
                        "amount": 1600,
                        "currency": "CAD"
                      },
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "status": "SUCCEEDED",
                      "statusDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": 1,
                        "responseCode": 1,
                        "message": "SUCCESS",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "reason": "Defective product",
                      "cardOnFileResponse": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    },
                    {
                      "refundId": "ri0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "merchantId": "0123456789101",
                      "paymentMethod": {
                        "paymentMethodId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": {
                          "cardholderName": "John Doe",
                          "companyName": "SP Ltd"
                        },
                        "contactDetails": {
                          "phoneNumber": "1-866-319-7450",
                          "email": "moneris@moneris.com"
                        },
                        "billingAddress": {
                          "unitNumber": "123A",
                          "streetNumber": "3300",
                          "streetName": "Bloor Street West",
                          "city": "Toronto",
                          "province": "Ontario",
                          "postalCode": "M8X 2X2",
                          "country": "CA"
                        },
                        "paymentMethodType": "CARD",
                        "paymentMethodInformation": {
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2023,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778"
                        },
                        "paymentMethodStored": "DO_NOT_STORE",
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": "2019-07-30T06:43:40.252Z",
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": "2019-07-30T06:43:40.252Z",
                      "refundAmount": {
                        "amount": 1600,
                        "currency": "CAD"
                      },
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "status": "DECLINED",
                      "statusDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": 51,
                        "responseCode": 54,
                        "message": "Expired Card",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "reason": "Defective product",
                      "cardOnFileResponse": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    }
                  ],
                  "self": "/refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "first": "/refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "last": "/refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "next\"": null,
                  "previous": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidListbadRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      },
      "post": {
        "summary": "Créer un remboursement",
        "description": "Cette opération permet de créer un Remboursement. \nPour les remboursements de paiement, l’identifiant de paiement est requis tandis que le mode de paiement n’est pas requis.\nPour les remboursements indépendants, aucun identifiant de paiement n’est requis, mais le mode de paiement est requis.\n",
        "operationId": "createRefund",
        "security": [
          {
            "OAuth2": [
              "refund.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Remboursements"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRefundRequest"
              },
              "examples": {
                "matching": {
                  "$ref": "#/components/examples/matchingRefundRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Réponse du résultat de l’opération de remboursement",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refundResponse"
                },
                "example": {
                  "refundId": "ri0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "paymentId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "merchantId": "0123456789101",
                  "paymentMethod": {
                    "paymentMethodId": "pi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                    "merchantId": "0123456789101",
                    "cardholderInformation": {
                      "cardholderName": "John Doe",
                      "companyName": "SP Ltd"
                    },
                    "contactDetails": {
                      "phoneNumber": "1-866-319-7450",
                      "email": "moneris@moneris.com"
                    },
                    "billingAddress": {
                      "unitNumber": "123A",
                      "streetNumber": "3300",
                      "streetName": "Bloor Street West",
                      "city": "Toronto",
                      "province": "Ontario",
                      "postalCode": "M8X 2X2",
                      "country": "CA"
                    },
                    "paymentMethodType": "CARD",
                    "paymentMethodInformation": {
                      "cardInformation": {
                        "bankIdentificationNumber": "123456",
                        "lastFour": "1234",
                        "expiryMonth": 1,
                        "expiryYear": 2023,
                        "cardBrand": "MASTERCARD",
                        "cardType": "CREDIT",
                        "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                        "issuer": "RBC"
                      },
                      "paymentAccountReference": "11112222333344445555666677778"
                    },
                    "paymentMethodStored": "DO_NOT_STORE",
                    "createdAt": "2019-07-30T06:43:40.252Z",
                    "modifiedAt": "2019-07-30T06:43:40.252Z",
                    "customData": {
                      "property1": "string",
                      "property2": "string"
                    }
                  },
                  "createdAt": "2019-07-30T06:43:40.252Z",
                  "modifiedAt": "2019-07-30T06:43:40.252Z",
                  "refundAmount": {
                    "amount": 1600,
                    "currency": "CAD"
                  },
                  "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "status": "SUCCEEDED",
                  "statusDetails": {
                    "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                    "isoResponseCode": 1,
                    "responseCode": 1,
                    "message": "SUCCESS",
                    "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                  },
                  "reason": "Defective product",
                  "cardOnFileResponse": null,
                  "customData": {
                    "property1": "string",
                    "property2": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Opération de remboursement refusée",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "examples": {
                  "invalid_request": {
                    "$ref": "#/components/examples/InvalidRefundErrorResponse"
                  },
                  "declined": {
                    "$ref": "#/components/examples/exp-refundResponse_DeclineErrorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/refunds/{refund-id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/refundId"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Récupérer le remboursement",
        "description": "Récupérer un remboursement par son Id.",
        "operationId": "getRefundById",
        "security": [
          {
            "OAuth2": [
              "refund.read"
            ]
          },
          {
            "OAuth2": [
              "refund.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Remboursements"
        ],
        "responses": {
          "200": {
            "description": "Vous avez réussi à récupérer le remboursement correspondant à l’identifiant de remboursement fourni.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refundResponse"
                },
                "examples": {
                  "succeeded": {
                    "$ref": "#/components/examples/SucceededRefundResponse"
                  },
                  "declined": {
                    "$ref": "#/components/examples/DeclinedRefundResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Remboursement introuvable.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": {
                  "type": "https://developer.moneris.com/en/More/Testing/Response%20Codes",
                  "title": "NOT_FOUND",
                  "status": 404,
                  "detail": null,
                  "instance": "/refunds/ri0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "category": "INVALID_REQUEST_ERROR",
                  "errors": []
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/validations": {
      "description": "Paramétrez un mode de paiement pour les paiements futurs. \nSimilaire à un paiement, mais aucun frais n’est créé.\nUtile lors de l’intégration des clients, mais ne les facturant pas immédiatement.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Validations de cartes de liste",
        "description": "Renvoie une liste paginée des validations de cartes qui ont été exécutées.",
        "operationId": "getValidations",
        "security": [
          {
            "OAuth2": [
              "payment.read"
            ]
          },
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Validations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageBeforeCursor"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/createdFrom"
          },
          {
            "$ref": "#/components/parameters/createdTo"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des validations de cartes",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/validationsResponseList"
                },
                "example": {
                  "data": [
                    {
                      "validationId": "vi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "merchantId": "0123456789101",
                      "orderId": "1q2w3e4r5t6t78",
                      "invoiceNumber": "1a2s3d45v6",
                      "transactionDateTime": "2019-07-30T06:43:40.252Z",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": null,
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMethod": {
                        "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": {
                          "cardholderName": "John Doe",
                          "companyName": "SP Ltd"
                        },
                        "contactDetails": null,
                        "billingAddress": {
                          "unitNumber": "123A",
                          "streetNumber": "3300",
                          "streetName": "Bloor Street West",
                          "city": "Toronto",
                          "province": "Ontario",
                          "postalCode": "M8X 2X2",
                          "country": "CA"
                        },
                        "paymentMethodType": "CARD",
                        "paymentMethodInformation": {
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2025,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778"
                        },
                        "paymentMethodStored": "DO_NOT_STORE",
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": null,
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "validationStatus": "SUCCEEDED",
                      "transactionDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": 0,
                        "responseCode": 1,
                        "message": "approved",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "checkResults": {
                        "addressVerificationServiceResultCode": "M",
                        "cardSecurityCodeResultCode": "MATCH",
                        "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                      },
                      "cardOnFileResponse": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    },
                    {
                      "validationId": "vi0105ARZ3NDEKTSV4RRFFQ69G5FAX",
                      "merchantId": "0123456789101",
                      "orderId": "1q2w3e4r5t6t78",
                      "invoiceNumber": "1a2s3d45v6",
                      "transactionDateTime": "2019-07-30T06:43:40.252Z",
                      "createdAt": "2019-07-30T06:43:40.252Z",
                      "modifiedAt": null,
                      "customerId": "ci0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                      "paymentMethod": {
                        "paymentMethodId": "pm0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                        "merchantId": "0123456789101",
                        "cardholderInformation": {
                          "cardholderName": "John Doe",
                          "companyName": "SP Ltd"
                        },
                        "contactDetails": {
                          "phoneNumber": "1-866-319-7450",
                          "email": "moneris@moneris.com"
                        },
                        "billingAddress": {
                          "unitNumber": "123A",
                          "streetNumber": "3300",
                          "streetName": "Bloor Street West",
                          "city": "Toronto",
                          "province": "Ontario",
                          "postalCode": "M8X 2X2",
                          "country": "CA"
                        },
                        "paymentMethodType": "CARD",
                        "paymentMethodInformation": {
                          "cardInformation": {
                            "bankIdentificationNumber": "123456",
                            "lastFour": "1234",
                            "expiryMonth": 1,
                            "expiryYear": 2025,
                            "cardBrand": "MASTERCARD",
                            "cardType": "CREDIT",
                            "cardFingerprint": "1Q2W3E4r5t6rfwewerwewrrw",
                            "issuer": "RBC"
                          },
                          "paymentAccountReference": "11112222333344445555666677778"
                        },
                        "paymentMethodStored": "DO_NOT_STORE",
                        "createdAt": "2019-07-30T06:43:40.252Z",
                        "modifiedAt": null,
                        "customData": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "validationStatus": "DECLINED",
                      "transactionDetails": {
                        "transactionUniqueId": "938c2cc0dcc05f2b68c4287040cfcf71",
                        "isoResponseCode": 421,
                        "responseCode": 43,
                        "message": "Stolen card, pick up.",
                        "ecommerceIndicator": "AUTHENTICATED_ECOMMERCE"
                      },
                      "checkResults": {
                        "addressVerificationServiceResultCode": "M",
                        "cardSecurityCodeResultCode": "MATCH",
                        "threeDSecureAuthenticationValueResultCode": "VISA_CAVV_PASSED_VALIDATION_ATTEMPTED"
                      },
                      "cardOnFileResponse": null,
                      "customData": {
                        "property1": "string",
                        "property2": "string"
                      }
                    }
                  ],
                  "self": "/validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "first": "/validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "last": "/validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01",
                  "next\"": null,
                  "previous": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidListbadRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      },
      "post": {
        "summary": "Créer une validation de carte",
        "description": "Lancez une nouvelle demande de validation de carte.",
        "operationId": "createValidation",
        "security": [
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Validations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createValidationRequest"
              },
              "examples": {
                "with_payment_method_id": {
                  "$ref": "#/components/examples/validationRequestWithPaymentMethodId"
                },
                "with_payment_method": {
                  "$ref": "#/components/examples/validationRequestWithPaymentMethodData"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Demande de validation créée avec succès.",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/validationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Réponse du résultat de l’opération de validation ayant échoué",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "examples": {
                  "declined": {
                    "$ref": "#/components/examples/exp-validationResponse_DeclineErrorResponse"
                  },
                  "invalid_request": {
                    "$ref": "#/components/examples/InvalidRequestErrorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/validations/{validation-id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/validationId"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Récupérer la validation de la carte.",
        "description": "Récupérer une validation de carte par id.",
        "operationId": "getValidation",
        "security": [
          {
            "OAuth2": [
              "payment.read"
            ]
          },
          {
            "OAuth2": [
              "payment.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Validations"
        ],
        "responses": {
          "200": {
            "description": "Récupérer une validation de carte par ID",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/validationResponse"
                },
                "examples": {
                  "succeeded": {
                    "$ref": "#/components/examples/ValidationSucceededResponse"
                  },
                  "declined": {
                    "$ref": "#/components/examples/ValidationDeclinedRetryResponse"
                  },
                  "declined_retry": {
                    "$ref": "#/components/examples/ValidationDeclinedResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "Validation de la carte introuvable",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/validationResponse"
                },
                "example": {
                  "type": "https://developer.moneris.com/en/More/Testing/Response%20Codes",
                  "title": "NOT_FOUND",
                  "status": 404,
                  "detail": null,
                  "instance": "/validations/vi0105ARZ3NDEKTSV4RRFFQ69G5FAV",
                  "category": "INVALID_REQUEST_ERROR",
                  "errors": []
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/customers": {
      "description": "Cette API permet de gérer les clients passés et récurrents.\nTrès utile lors du suivi et de la gestion des frais appartenant au même client.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
          "$ref": "#/components/parameters/merchantId"
        }
      ],
      "get": {
        "summary": "Liste des clients",
        "description": "Renvoie une liste paginée de clients.",
        "operationId": "getCustomers",
        "security": [
          {
            "OAuth2": [
              "customer.read"
            ]
          },
          {
            "OAuth2": [
              "customer.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageBeforeCursor"
          },
          {
            "$ref": "#/components/parameters/pageLimit"
          },
          {
            "$ref": "#/components/parameters/createdFrom"
          },
          {
            "$ref": "#/components/parameters/createdTo"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste de tous les clients",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customerResponseList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidListbadRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      },
      "post": {
        "summary": "Créer un client",
        "description": "Cette opération permet de créer un nouveau client.",
        "operationId": "createCustomers",
        "security": [
          {
            "OAuth2": [
              "customer.write"
            ]
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Réponse du résultat de l’opération client",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Correlation-Id": {
                "$ref": "#/components/headers/correlationId"
              },
              "Sunset": {
                "$ref": "#/components/headers/sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/internalServer"
          }
        }
      }
    },
    "/customers/{customer-id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiVersion"
        },
        {
          "$ref": "#/components/parameters/correlationId"
        },
        {
          "$ref": "#/components/parameters/prm-common_apiVersion"
        },
        {
[...]
