openapi: 3.0.0
info:
  version: 1.0.1
  title: Moneris API
  x-i18n-title-fr: API de Moneris
  description: |
    Moneris API Platform

    [<img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height:32px;">](https://god.gw.postman.com/run-collection/25575461-ab82f3e6-bc3e-471e-bbf5-3875f1616ef9?action=collection%2Ffork&collection-url=entityId%3D25575461-ab82f3e6-bc3e-471e-bbf5-3875f1616ef9%26entityType%3Dcollection%26workspaceId%3D5d2a9a0f-57a7-441c-b2af-fe6315e80a08)
  x-i18n-description-fr: |
    Plateforme des API de Moneris

    [<img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height:32px;">](https://god.gw.postman.com/run-collection/25575461-ab82f3e6-bc3e-471e-bbf5-3875f1616ef9?action=collection%2Ffork&collection-url=entityId%3D25575461-ab82f3e6-bc3e-471e-bbf5-3875f1616ef9%26entityType%3Dcollection%26workspaceId%3D5d2a9a0f-57a7-441c-b2af-fe6315e80a08)
  termsOfService: https://www.moneris.com/en/legal/terms-of-use
  x-i18n-termsOfService-fr: https://www.moneris.com/fr-ca/juridiques/conditions-utilisation
  contact:
    x-i18n-name-fr: Support Developpeur Moneris (MonDev)
    url: https://api-developer.moneris.com
    email: UnifiedAPI@moneris.com
  license:
    name: Moneris
    url: https://developer.moneris.com/Agreements/Terms%20of%20Use
  x-audience: external-public
servers:
  - url: https://api.moneris.io
    description: Production server (uses live data)
  - url: https://api.sb.moneris.io
    description: Sandbox server (uses test data)
paths:
  /payments:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Payments
      description: Returns a paginated list of payments.
      operationId: getPayments
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      x-i18n-tags-fr:
        - Paiements
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of all payments
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponseList'
              example:
                data:
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 16000
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails:
                      subTotalAmount:
                        amount: 14000
                        currency: CAD
                      tipAmount:
                        amount: 150
                        currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: SUCCEEDED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 0
                      responseCode: 1
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    refunds: null
                    customData:
                      property1: string
                      property2: string
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAZ
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 16000
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails:
                      subTotalAmount:
                        amount: 14000
                        currency: CAD
                      tipAmount:
                        amount: 150
                        currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: CANCELED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 0
                      responseCode: 1
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    refunds: null
                    customData:
                      property1: string
                      property2: string
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAX
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 0
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails:
                      subTotalAmount:
                        amount: 14000
                        currency: CAD
                      tipAmount:
                        amount: 150
                        currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: DECLINED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 421
                      responseCode: 43
                      message: Stolen card, pick up.
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    refunds: null
                    customData:
                      property1: string
                      property2: string
                self: /payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                first: /payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                last: /payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                next": null
                previous: null
          x-i18n-description-fr: Liste de tous les paiements
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Liste des paiements
      x-i18n-description-fr: Renvoie une liste paginée de paiements.
    post:
      summary: Create Payment
      description: This operation is used to initiate a Payment.
      operationId: createPayments
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      x-i18n-tags-fr:
        - Paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentRequest'
            examples:
              regularPurchaseWithPaymentMethodId:
                $ref: '#/components/examples/regularPurchaseWithPaymentMethodId'
              regularPurchaseWithPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithPaymentMethod'
              preAuthorizationWithPaymentMethodId:
                $ref: '#/components/examples/preAuthorizationWithPaymentMethodId'
      responses:
        '201':
          description: Payment operation created successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              examples:
                PurchaseCompleted:
                  $ref: '#/components/examples/PurchaseCompletedResponse'
                PreauthorizationCompletedResponse:
                  $ref: '#/components/examples/PreauthorizationCompletedResponse'
          x-i18n-description-fr: Opération de paiement créée avec succès.
        '400':
          description: Failed Payment operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidRequestErrorResponse'
          x-i18n-description-fr: Réponse du résultat de l’opération de paiement échoué
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Créer un paiement
      x-i18n-description-fr: Cette opération est utilisée pour initier un paiement.
  /payments/{payment-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Payment
      description: Retrieve a payment by its payment Id
      operationId: getPayment
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      x-i18n-tags-fr:
        - Paiements
      responses:
        '200':
          description: The payment corresponding to the provided `payment-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/PurchaseCompletedResponse'
                authorized:
                  $ref: '#/components/examples/PreauthorizationCompletedResponse'
                declined:
                  $ref: '#/components/examples/PurchaseDeclinedResponse'
                declined_retry:
                  $ref: '#/components/examples/PurchaseDeclinedRetryResponse'
                canceled:
                  $ref: '#/components/examples/PurchaseCanceledResponse'
          x-i18n-description-fr: Le paiement correspondant à l''identifiant de paiement fourni.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Récupérer le paiement
      x-i18n-description-fr: Récupérer un paiement à l’aide de son ID de paiement
  /payments/{payment-id}/cancel:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Cancel Payment
      description: Cancel a payment. This operation may not be possible if the payment has gone through.
      operationId: cancelPayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      x-i18n-tags-fr:
        - Paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelPaymentRequest'
      responses:
        '200':
          description: Payment canceled successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              example:
                paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                orderId: 1q2w3e4r5t6t78
                invoiceNumber: 1a2s3d45v6
                transactionDateTime: '2019-07-30T06:43:40.252Z'
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                amount:
                  amount: 16000
                  currency: CAD
                authorizedAmount:
                  amount: 16000
                  currency: CAD
                capturableAmount:
                  amount: 0
                  currency: CAD
                amountDetails:
                  subTotalAmount:
                    amount: 14000
                    currency: CAD
                  tipAmount:
                    amount: 150
                    currency: CAD
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                paymentMethod:
                  paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation: null
                  contactDetails: null
                  billingAddress: null
                  paymentMethodType: CARD
                  paymentMethodInformation:
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2025
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                  paymentMethodStored: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: null
                  customData:
                    property1: string
                    property2: string
                paymentStatus: CANCELED
                transactionDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: 0
                  responseCode: 1
                  message: approved
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                checkResults:
                  addressVerificationServiceResultCode: M
                  cardSecurityCodeResultCode: MATCH
                  threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                cardOnFileResponse: null
                refunds: null
                customData:
                  property1: string
                  property2: string
          x-i18n-description-fr: Le paiement a été annulé avec succès.
        '400':
          description: Failed to cancel Payment operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidPurchaseErrorResponse'
          x-i18n-description-fr: Échec de l’annulation Réponse du résultat de l’opération de paiement
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Annuler le paiement
      x-i18n-description-fr: Annuler un paiement. Cette opération peut ne pas être possible si le paiement a été effectué.
  /payments/{payment-id}/complete:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Complete Payment
      description: This will effectively capture a payment that has been authorized.
      operationId: completePayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      x-i18n-tags-fr:
        - Paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/completionRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac2
              invoiceNumber: 1a2s3d45v6
              customData:
                property1: string
                property2: string
              amount:
                amount: 16000
                currency: CAD
      responses:
        '200':
          description: Payment completed successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              example:
                paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                orderId: 1q2w3e4r5t6t78
                invoiceNumber: 1a2s3d45v6
                transactionDateTime: '2019-07-30T06:43:40.252Z'
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                amount:
                  amount: 16000
                  currency: CAD
                authorizedAmount:
                  amount: 16000
                  currency: CAD
                capturableAmount:
                  amount: 0
                  currency: CAD
                amountDetails:
                  subTotalAmount:
                    amount: 14000
                    currency: CAD
                  tipAmount:
                    amount: 150
                    currency: CAD
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                paymentMethod:
                  paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation: null
                  contactDetails: null
                  billingAddress: null
                  paymentMethodType: CARD
                  paymentMethodInformation:
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2025
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                  paymentMethodStored: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: null
                  customData:
                    property1: string
                    property2: string
                paymentStatus: SUCCEEDED
                transactionDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: 0
                  responseCode: 1
                  message: approved
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                checkResults:
                  addressVerificationServiceResultCode: M
                  cardSecurityCodeResultCode: MATCH
                  threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                cardOnFileResponse: null
                refunds: null
                customData:
                  property1: string
                  property2: string
          x-i18n-description-fr: Le paiement s’est terminé avec succès.
        '400':
          description: Failed to complete purchase
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidPurchaseErrorResponse'
          x-i18n-description-fr: Echec de l’achat
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Paiement complet
      x-i18n-description-fr: Cela permettra de saisir efficacement un paiement qui a été autorisé.
  /payment-methods:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List payment methods
      description: Retrieves a paginated list of payment methods.
      operationId: getPaymentMethods
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      x-i18n-tags-fr:
        - Modes de paiements
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
        - $ref: '#/components/parameters/isExpiring'
      responses:
        '200':
          description: Paginated list of payment methods
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponseList'
              example:
                data:
                  - paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    cardholderInformation: null
                    contactDetails: null
                    billingAddress: null
                    paymentMethodType: CARD
                    paymentMethodInformation:
                      cardInformation:
                        bankIdentificationNumber: '123456'
                        lastFour: '1234'
                        expiryMonth: 1
                        expiryYear: 2023
                        cardBrand: MASTERCARD
                        cardType: CREDIT
                        cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                        issuer: RBC
                      paymentAccountReference: '11112222333344445555666677778'
                    paymentMethodStored: DO_NOT_STORE
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    customData:
                      property1: string
                      property2: string
                  - paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    cardholderInformation:
                      cardholderName: John Doe
                      companyName: SP Ltd
                    contactDetails:
                      phoneNumber: 1-866-319-7450
                      email: moneris@moneris.com
                    billingAddress:
                      unitNumber: 123A
                      streetNumber: '3300'
                      streetName: Bloor Street West
                      city: Toronto
                      province: Ontario
                      postalCode: M8X 2X2
                      country: CA
                    paymentMethodType: TEMPORARY_TOKEN
                    paymentMethodInformation:
                      cardInformation:
                        bankIdentificationNumber: '123456'
                        lastFour: '1234'
                        expiryMonth: 1
                        expiryYear: 2023
                        cardBrand: MASTERCARD
                        cardType: CREDIT
                        cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                        issuer: RBC
                      paymentAccountReference: '11112222333344445555666677778'
                    paymentMethodStored: DO_NOT_STORE
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    customData:
                      property1: string
                      property2: string
                self: /payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                first: /payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                last: /payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                next": null
                previous: null
          x-i18n-description-fr: Liste paginée des modes de paiement
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Répertorier les modes de paiement
      x-i18n-description-fr: Récupère une liste paginée des modes de paiement.
    post:
      summary: Create Payment Method
      description: Create a Payment Method.
      operationId: createPaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      x-i18n-tags-fr:
        - Modes de paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/cardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/temporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/permanentTokenPaymentMethodRequest'
      responses:
        '201':
          description: |
            Payment method created successfully.  Response content contains the created payment method.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: 1-866-319-7450
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: Ontario
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodType: CARD
                paymentMethodInformation:
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2023
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                paymentMethodStored: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
          x-i18n-description-fr: |
            Mode de paiement créé avec succès.  Le contenu de la réponse contient le mode de paiement créé.
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Créer un mode de paiement
      x-i18n-description-fr: Créez un mode de paiement.
  /payment-methods/{payment-method-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/paymentMethodId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Payment Method
      description: Retrieve a Payment Method by Id
      operationId: getPaymentMethod
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      x-i18n-tags-fr:
        - Modes de paiements
      responses:
        '200':
          description: Payment method found and returned in the response.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: 1-866-319-7450
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: Ontario
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodType: CARD
                paymentMethodInformation:
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2023
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                paymentMethodStored: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
          x-i18n-description-fr: Mode de paiement trouvé et renvoyé dans la réponse.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
          x-i18n-description-fr: Mode de paiement introuvable.
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Récupérer le mode de paiement
      x-i18n-description-fr: Récupérer un mode de paiement par ID
    put:
      summary: Update Payment method
      description: |
        Update payment method referenced by its Id. 
        Certain details may not be updated if the payment method was used in a transaction.
      operationId: updatePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      x-i18n-tags-fr:
        - Modes de paiements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/updateCardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/updateTemporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/updatePermanentTokenPaymentMethodRequest'
      responses:
        '200':
          description: Update payment method
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: 1-866-319-7450
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: Ontario
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodType: CARD
                paymentMethodInformation:
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2023
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                paymentMethodStored: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
          x-i18n-description-fr: Mettre à jour le mode de paiement
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
          x-i18n-description-fr: Mode de paiement introuvable.
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Mettre à jour le mode de paiement
      x-i18n-description-fr: |
        Mettre à jour le mode de paiement référencé par son Id. 
        Certaines informations peuvent ne pas être mises à jour si le mode de paiement a été utilisé dans une transaction.
    delete:
      summary: Delete Payment Method
      description: Deletes a payment method.
      operationId: deletePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      x-i18n-tags-fr:
        - Modes de paiements
      responses:
        '204':
          description: |
            Payment method deleted successfully. 
            Response content contains the payment method details.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          x-i18n-description-fr: |
            Le mode de paiement a été supprimé avec succès. 
            Le contenu de la réponse contient les détails du mode de paiement.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
          x-i18n-description-fr: Mode de paiement introuvable.
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Supprimer le mode de paiement
      x-i18n-description-fr: Supprime un mode de paiement.
  /refunds:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Refunds
      description: Returns a paginated list of refund operations.
      operationId: getRefunds
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      x-i18n-tags-fr:
        - Remboursements
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: Refund list successfully returned.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponseList'
              example:
                data:
                  - refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    paymentMethod:
                      paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails:
                        phoneNumber: 1-866-319-7450
                        email: moneris@moneris.com
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: Ontario
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2023
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: '2019-07-30T06:43:40.252Z'
                      customData:
                        property1: string
                        property2: string
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    refundAmount:
                      amount: 1600
                      currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    status: SUCCEEDED
                    statusDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 1
                      responseCode: 1
                      message: SUCCESS
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    reason: Defective product
                    cardOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                  - refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    paymentMethod:
                      paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails:
                        phoneNumber: 1-866-319-7450
                        email: moneris@moneris.com
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: Ontario
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2023
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: '2019-07-30T06:43:40.252Z'
                      customData:
                        property1: string
                        property2: string
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    refundAmount:
                      amount: 1600
                      currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    status: DECLINED
                    statusDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 51
                      responseCode: 54
                      message: Expired Card
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    reason: Defective product
                    cardOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                self: /refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                first: /refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                last: /refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                next": null
                previous: null
          x-i18n-description-fr: Liste de remboursement renvoyée avec succès.
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Liste des remboursements
      x-i18n-description-fr: Renvoie une liste paginée des opérations de remboursement.
    post:
      summary: Create Refund
      description: |
        This operation is used to create a Refund. 
        For payment refunds, Payment Id is required while payment method is not required.
        For independent refunds, no payment Id is required, however payment method is required.
      operationId: createRefund
      security:
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      x-i18n-tags-fr:
        - Remboursements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRefundRequest'
            examples:
              matching:
                $ref: '#/components/examples/matchingRefundRequest'
      responses:
        '201':
          description: Refund operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponse'
              example:
                refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                paymentMethod:
                  paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation:
                    cardholderName: John Doe
                    companyName: SP Ltd
                  contactDetails:
                    phoneNumber: 1-866-319-7450
                    email: moneris@moneris.com
                  billingAddress:
                    unitNumber: 123A
                    streetNumber: '3300'
                    streetName: Bloor Street West
                    city: Toronto
                    province: Ontario
                    postalCode: M8X 2X2
                    country: CA
                  paymentMethodType: CARD
                  paymentMethodInformation:
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2023
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                  paymentMethodStored: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: '2019-07-30T06:43:40.252Z'
                  customData:
                    property1: string
                    property2: string
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                refundAmount:
                  amount: 1600
                  currency: CAD
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                status: SUCCEEDED
                statusDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: 1
                  responseCode: 1
                  message: SUCCESS
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                reason: Defective product
                cardOnFileResponse: null
                customData:
                  property1: string
                  property2: string
          x-i18n-description-fr: Réponse du résultat de l’opération de remboursement
        '400':
          description: Refund operation declined
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                invalid_request:
                  $ref: '#/components/examples/InvalidRefundErrorResponse'
                declined:
                  $ref: '#/components/examples/exp-refundResponse_DeclineErrorResponse'
          x-i18n-description-fr: Opération de remboursement refusée
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Créer un remboursement
      x-i18n-description-fr: |
        Cette opération permet de créer un Remboursement. 
        Pour les remboursements de paiement, l’identifiant de paiement est requis tandis que le mode de paiement n’est pas requis.
        Pour les remboursements indépendants, aucun identifiant de paiement n’est requis, mais le mode de paiement est requis.
  /refunds/{refund-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/refundId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Refund
      description: Retrieve a refund by its Id.
      operationId: getRefundById
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      x-i18n-tags-fr:
        - Remboursements
      responses:
        '200':
          description: Successfully retrieved the refund corresponding to the provided `refund-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/SucceededRefundResponse'
                declined:
                  $ref: '#/components/examples/DeclinedRefundResponse'
          x-i18n-description-fr: Vous avez réussi à récupérer le remboursement correspondant à l’identifiant de remboursement fourni.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Refund not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /refunds/ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
          x-i18n-description-fr: Remboursement introuvable.
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Récupérer le remboursement
      x-i18n-description-fr: Récupérer un remboursement par son Id.
  /validations:
    description: |
      set up a payment method for future payments. 
      Similar to a payment, but no charge is created.
      Useful when onboarding customers but not charging them right away.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Card Validations
      description: Returns a paginated list of the card validations the were executed.
      operationId: getValidations
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      x-i18n-tags-fr:
        - Validations
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of Card Validations
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationsResponseList'
              example:
                data:
                  - validationId: vi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails: null
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: Ontario
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    validationStatus: SUCCEEDED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 0
                      responseCode: 1
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                  - validationId: vi0105ARZ3NDEKTSV4RRFFQ69G5FAX
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails:
                        phoneNumber: 1-866-319-7450
                        email: moneris@moneris.com
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: Ontario
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    validationStatus: DECLINED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 421
                      responseCode: 43
                      message: Stolen card, pick up.
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                self: /validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                first: /validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                last: /validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                next": null
                previous: null
          x-i18n-description-fr: Liste des validations de cartes
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Validations de cartes de liste
      x-i18n-description-fr: Renvoie une liste paginée des validations de cartes qui ont été exécutées.
    post:
      summary: Create Card Validation
      description: Initiate a new Card Validation request.
      operationId: createValidation
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      x-i18n-tags-fr:
        - Validations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createValidationRequest'
            examples:
              with_payment_method_id:
                $ref: '#/components/examples/validationRequestWithPaymentMethodId'
              with_payment_method:
                $ref: '#/components/examples/validationRequestWithPaymentMethodData'
      responses:
        '201':
          description: Validation request created successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResponse'
          x-i18n-description-fr: Demande de validation créée avec succès.
        '400':
          description: Failed Validation operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/exp-validationResponse_DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidRequestErrorResponse'
          x-i18n-description-fr: Réponse du résultat de l’opération de validation ayant échoué
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Créer une validation de carte
      x-i18n-description-fr: Lancez une nouvelle demande de validation de carte.
    x-i18n-description-fr: |
      Paramétrez un mode de paiement pour les paiements futurs. 
      Similaire à un paiement, mais aucun frais n’est créé.
      Utile lors de l’intégration des clients, mais ne les facturant pas immédiatement.
  /validations/{validation-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/validationId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Card Validation.
      description: Retrieve a Card Validation by Id.
      operationId: getValidation
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      x-i18n-tags-fr:
        - Validations
      responses:
        '200':
          description: Retrieve a Card Validation by Id
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/ValidationSucceededResponse'
                declined:
                  $ref: '#/components/examples/ValidationDeclinedRetryResponse'
                declined_retry:
                  $ref: '#/components/examples/ValidationDeclinedResponse'
          x-i18n-description-fr: Récupérer une validation de carte par ID
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Card validation not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResponse'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /validations/vi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
          x-i18n-description-fr: Validation de la carte introuvable
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Récupérer la validation de la carte.
      x-i18n-description-fr: Récupérer une validation de carte par id.
  /customers:
    description: |
      This API allows to manage past and recurring customers.
      Very useful when tracking and managing charges belonging to the same customer.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: List Customers
      description: Returns a paginated list of customers.
      operationId: getCustomers
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      x-i18n-tags-fr:
        - Clients
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of all customers
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponseList'
          x-i18n-description-fr: Liste de tous les clients
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Liste des clients
      x-i18n-description-fr: Renvoie une liste paginée de clients.
    post:
      summary: Create Customer
      description: This operation is used to created a new customer.
      operationId: createCustomers
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      x-i18n-tags-fr:
        - Clients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCustomerRequest'
      responses:
        '201':
          description: Customer operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
          x-i18n-description-fr: Réponse du résultat de l’opération client
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Créer un client
      x-i18n-description-fr: Cette opération permet de créer un nouveau client.
    x-i18n-description-fr: |
      Cette API permet de gérer les clients passés et récurrents.
      Très utile lors du suivi et de la gestion des frais appartenant au même client.
  /customers/{customer-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/customerId'
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Retrieve Customer
      description: Retrieve a customer by their Id.
      operationId: getCustomer
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      x-i18n-tags-fr:
        - Clients
      responses:
        '200':
          description: The customer corresponding to the provided `customerId`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
          x-i18n-description-fr: Le client correspondant au 'customerId' fourni
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
          x-i18n-description-fr: Client introuvable
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Récupérer le client
      x-i18n-description-fr: Récupérer un client par son Id.
    put:
      summary: Update Customer
      description: Updates customer's details such as name, address etc...
      operationId: updateCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      x-i18n-tags-fr:
        - Clients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customerRequest'
      responses:
        '200':
          description: Customer updated successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
          x-i18n-description-fr: Le client a mis à jour avec succès.
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
          x-i18n-description-fr: Client introuvable
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Mettre à jour le client
      x-i18n-description-fr: Met à jour les coordonnées du client telles que le nom, l’adresse, etc.
    delete:
      summary: Delete Customer
      description: Delete a customer by their Id
      operationId: deleteCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      x-i18n-tags-fr:
        - Clients
      responses:
        '204':
          description: Customer deleted successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          x-i18n-description-fr: Le client a été supprimé avec succès.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
          x-i18n-description-fr: Client introuvable
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Supprimer le client
      x-i18n-description-fr: Supprimer un client par son identifiant
  /three-d-secure:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Create Authentication
      description: |
        This operation is used to create an Authentication request. 
        The authentication request is used to start the validation process of the card. 
        The result of this request determines whether 3DS is supported by the card and what type of authentication is required.
      operationId: createAuthentication
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      x-i18n-tags-fr:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticationRequest'
      responses:
        '201':
          description: Card Lookup operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
          x-i18n-description-fr: Réponse du résultat de l’opération de recherche de carte
        '202':
          description: MPI Authentication operation resulted in a challenge.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
          x-i18n-description-fr: L’opération d’authentification MPI s’est avérée problématique.
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Créer une authentification
      x-i18n-description-fr: |
        Cette opération permet de créer une demande d’authentification. 
        La demande d’authentification permet de lancer le processus de validation de la carte. 
        Le résultat de cette demande détermine si 3DS est pris en charge par la carte et quel type d’authentification est requis.
  /three-d-secure/{authentication-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/authenticationId'
    get:
      summary: Retrieve Authentication
      description: Retrieve an authentication by its authentication Id
      operationId: getAuthentication
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      x-i18n-tags-fr:
        - 3D Secure
      responses:
        '200':
          description: The authentication corresponding to the provided `authentication-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
          x-i18n-description-fr: L’authentification correspondant à l''authentication-id fourni.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Récupérer l’authentification
      x-i18n-description-fr: Récupérer une authentification par son ID d’authentification
  /three-d-secure/{authentication-id}/lookup:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/authenticationId'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Authentication Value Lookup
      description: The point of the 3-D Secure flow is to verify that the true cardholder is a part of the authorization. The challenge flow is used to present a way of authenticating the cardholder using e.g. OTP or a federated identification method.
      operationId: authenticationValueLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      x-i18n-tags-fr:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lookupRequest'
      responses:
        '200':
          description: MPI Authentication operation was successfully authenticated.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
          x-i18n-description-fr: L’opération d’authentification MPI a été authentifiée avec succès.
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Recherche de valeur d’authentification
      x-i18n-description-fr: L’intérêt du flux 3-D Secure est de vérifier que le véritable titulaire de la carte fait partie de l’autorisation. Le flux de défi est utilisé pour présenter un moyen d’authentifier le titulaire de la carte à l’aide, par exemple, d’un OTP ou d’une méthode d’identification fédérée.
  /three-d-secure/card-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: 3DS Card Lookup
      operationId: cardLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      x-i18n-tags-fr:
        - 3D Secure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cardLookupRequest'
      responses:
        '201':
          description: CAVV Lookup operation to read the challenge result.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cardLookupResponse'
          x-i18n-description-fr: Opération de recherche CAVV pour lire le résultat du défi.
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
      x-i18n-summary-fr: Recherche de carte 3DS
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.moneris.io/oauth2/token
          scopes:
            payment.read: Grants read access to payment related APIs
            payment.write: Grants read & write access to payment related APIs
            refund.read: Grants read access to refunds
            refund.write: Grants read & write access to refunds
            customer.read: Grants read access to customer data
            customer.write: Grants read & write access to customer data
  schemas:
    apiVersion:
      description: |
        The endpoint's API Version. 

        Must be provided through the query string, or through headers.
      type: string
      example: '2023-11-01'
      x-i18n-description-fr: |
        Version de l’API du point de terminaison. 

        Doit être fourni par le biais de la chaîne de requête ou d’en-têtes.
    merchantId:
      type: string
      description: |
        Thirteen character long identification provided to merchants by Moneris.
      minLength: 13
      maxLength: 13
      example: 123456789101
      x-i18n-description-fr: |
        Identification de treize caractères fournie aux marchands par Moneris.
    dateTime:
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
    orderId:
      type: string
      description: |
        Indicates a Merchant-defined transaction identifier that is uniquely assigned to every Purchase, Pre-Authorization and Independent Refund transaction. 

        Note: No two transactions of these types may have the same order ID.
      minLength: 1
      maxLength: 50
      example: 1q2w3e4r5t6t78
      pattern: ^[^\s]+$
      nullable: true
      x-i18n-description-fr: |
        Indique un identificateur de transaction défini par le marchand qui est attribué de manière unique à chaque transaction d’achat, de préautorisation et de remboursement indépendant. 

        Remarque : Il n’est pas possible que deux transactions de ce type aient le même ID de commande.
    invoiceNumber:
      type: string
      description: The terminal uses the invoice number field to submit a unique value to identify a transaction. This data is logged by Moneris Solutions.
      minLength: 1
      maxLength: 17
      example: 1a2s3d45v6
      nullable: true
      x-i18n-description-fr: Le terminal utilise le champ du numéro de facture pour soumettre une valeur unique afin d’identifier une transaction. Ces données sont enregistrées par Moneris Solutions.
    transactionDateTime:
      description: Date and Time of transaction
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
      x-i18n-description-fr: Date et heure de la transaction
    createdAt:
      description: Time at which the object was created
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
      x-i18n-description-fr: Heure à laquelle l’objet a été créé
    modifiedAt:
      description: Time at which the object was modified
      type: string
      format: date-time
[...]
